@model GKHNNC.Models.VipolnennieUslugi

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Удаление выполненной услуги</h4>
    <hr />
    <div class="container" style="width:365Px">
        <div class="row">

            <div class="col-xs-6">
                @Html.LabelFor(model => model.Adres.Adress)
            </div>
            <div class="col-xs-6">
                @Html.DisplayFor(model => model.Adres.Adress)
            </div>
        </div>
        <div class="row">

            <div class="col-xs-6">
                @Html.LabelFor(model => model.Usluga.Name)
            </div><div class="col-xs-6">
                @Html.DisplayFor(model => model.Usluga.Name)
            </div>

        </div>
        <div class="row">

            <div class="col-xs-6">
                @Html.LabelFor(model => model.Date)
            </div><div class="col-xs-6">
                @Html.DisplayFor(model => model.Date)
            </div>
        </div>
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.ActionLink("Назад", "Index", null, new { @class = "btn btn-success", style = "width: 180Px" })
            <input type="submit" value="Удалить" class="btn btn-success" style="width: 180Px" />

        </div>
    }
</div>
