@using Microsoft.AspNet.Identity


<!-- Modal -->
<div class="modal fade" id="Download" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">




                <h4>Загрузка данных, пожалуйста подождите...</h4>
                <button id="X" type="button" class="close hide" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="progress">

                    <div id="progressBar" class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    <center>
                        <label id="nadpis">Загрузка данных...</label>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>







<Center>
    <h1><b>ФГБУ "Академия комфорта"</b></h1>

    <p class="lead">
        Федеральное государственное бюджетное учреждение <br /> "Академия комфорта"
    </p>


    @if (Request.IsAuthenticated)
    {

        <div class="media col-md-4 col-md-offset-4">
            <div class="media-left">
                <img src="~/Ico/icons8-каска-50.png" class="media-object" style="width:50px">
            </div>
            <div class="media-body">
                <h3 class="media-heading">Осмотры</h3>
                <p>Состояния осмотров</p>
            </div>
        </div>
        <p>
            <button class="btn btn-success btn-lg" style="width:500Px" data-toggle="modal" data-target="#Download" onclick="location.href='@Url.Action("Index", "Osmotrs")'">
                <i class="glyphicon glyphicon-star"></i> Статусы осмотров &raquo;
            </button>
        </p>
        <p>
            <button class="btn btn-success btn-lg" style="width:500Px" data-toggle="modal" data-target="#Download" onclick="location.href='@Url.Action("OsmotrsProverka1", "Houses")'">
                <i class="glyphicon glyphicon-map-marker"></i> Проверить осмотры (ОЭЖФ) &raquo;
            </button>
        </p>
        <p>
            <button class="btn btn-success btn-lg" style="width:500Px" data-toggle="modal" data-target="#Download" onclick="location.href='@Url.Action("OsmotrsProverka2", "Houses")'">
                <i class="glyphicon glyphicon-map-marker"></i> Проверить осмотры (ПТО) &raquo;
            </button>
        </p>
        <p>
            <button class="btn btn-success btn-lg" style="width:500Px" data-toggle="modal" data-target="#Download" onclick="location.href='@Url.Action("OsmotrsProverka3", "Houses")'">
                <i class="glyphicon glyphicon-map-marker"></i> Осмотры на голосовании &raquo;
            </button>
        </p>
        <p>
            <button class="btn btn-success btn-lg" style="width:500Px" data-toggle="modal" data-target="#Download" onclick="location.href='@Url.Action("Index", "Houses")'">
                <i class="glyphicon glyphicon-map-marker"></i> Тех. паспорт домов и осмотры &raquo;
            </button>
        </p>
        <p>
            <button class="btn btn-success btn-lg" style="width:500Px" data-toggle="modal" data-target="#Download" onclick="location.href='@Url.Action("TechnicalOsmotrs", "Osmotrs")'">
                <i class="glyphicon glyphicon-map-marker"></i> Технические паспорта &raquo;
            </button>
        </p>
        <p>
            <button class="btn btn-success btn-lg" style="width:500Px" data-toggle="modal" data-target="#Download" onclick="location.href='@Url.Action("OsmotrsTech", "Osmotrs")'">
                <i class="glyphicon glyphicon-map-marker"></i> Технические осмотры  &raquo;
            </button>
        </p>



        <div class="media col-md-4 col-md-offset-4">
            <div class="media-left">
                <img src="~/Ico/icons8-каска-50.png" class="media-object" style="width:50px">
            </div>
            <div class="media-body">
                <h3 class="media-heading">Счетчики</h3>
                <p>Различные приборы и счетчики</p>
            </div>
        </div>

        <p>
            <button class="btn btn-success btn-lg" style="width:500Px" data-toggle="modal" data-target="#Download" onclick="location.href='@Url.Action("Index", "Schetchiks")'">
                <i class="glyphicon glyphicon-hand-left"></i> Счетчики  &raquo;
            </button>
        </p>
    }
    else
    {
        <h4 style="color:forestgreen;"><b>Вы не авторизованы на сайте. Пожалуйста: </b></h4>
        <p><a href="/Account/Login" class="btn btn-success btn-lg" style="width:500Px">Войдите в программу &raquo;</a></p>
    }

</Center>


@section Scripts
{
    @Scripts.Render("~/scripts/jquery-3.3.1.min.js")
    @Scripts.Render("~/scripts/jquery-ui-1.12.1.min.js")
    @Scripts.Render("~/scripts/nprogress.min.js")
    @Scripts.Render("~/scripts/jquery.signalR-2.4.0.min.js")
    @Scripts.Render("~/signalr/hubs")



    <script>
        function Fix() {
            var Y = $("#Y").val();
            alert('Начинаем фиксацию результатов за '+Y+' год');

            var url = "@Url.Action("MKDFixResults", "Osmotrs")?Y=" + Y;

            $.post(url,
                function (data)
                {
                    alert('Фиксация результатов за ' + Y + ' год завершена!');
                }
        );


        }
    </script>


    <script>
        $(function () {
            var PB = $.connection.progressHub;
            console.log("Loading...");
            PB.client.sendMessage = function (message, count) {
                // update progress
                console.log(count);
                UpdateProgress(message, count);
                //alert(message);
            };

            $.connection.hub.start().done(function () {
                console.log("Приконнектились");
                // call the method CallLongOperation defined in the Hub
                PB.server.getCountAndMessage();
                //$("#progressBar").hide();



            });


            // Update the progress bar
            function UpdateProgress(message, count) {
                // $("#progressBar").fadeIn("slow");
                var result = $("#result");
                if (count >= 100) { $("#X").click(); }
                result.html(message);

                //$("#progressBar").data("progressbar").value(count);

                $("#progressBar").attr("aria-valuenow", count);
                $("#progressBar").width(count + '%');
                $("#progressBar").text(count + '%');
                $("#nadpis").text(message);
                // $("#progressBar").css("width", count);
            }
        });
    </script>

}
