
<h3>Фундамент</h3>
<p>
    <button class="btn btn-success btn-lg" style="width:500Px" onclick="location.href='@Url.Action("Index", "FundamentMaterials")'">
        <i class="glyphicon glyphicon-lock"></i> Материалы &raquo;
    </button>
</p>
<p>
    <button class="btn btn-success btn-lg" style="width:500Px" onclick="location.href='@Url.Action("Index", "FundamentTypes")'">
        <i class="glyphicon glyphicon-lock"></i> Типы фундамента &raquo;
    </button>
</p>
<p>
    <button class="btn btn-success btn-lg" style="width:500Px" onclick="location.href='@Url.Action("Index", "DOMFundaments")'">
        <i class="glyphicon glyphicon-lock"></i> Фундамент дома &raquo;
    </button>
</p>
<h3>Крыша</h3>
<p>
    <button class="btn btn-success btn-lg" style="width:500Px" onclick="location.href='@Url.Action("Index", "RoofForms")'">
        <i class="glyphicon glyphicon-eject"></i> Форма крыши &raquo;
    </button>
</p>
<p>
    <button class="btn btn-success btn-lg" style="width:500Px" onclick="location.href='@Url.Action("Index", "RoofTypes")'">
        <i class="glyphicon glyphicon-eject"></i> Типы кровли &raquo;
    </button>
</p>
<p>
    <button class="btn btn-success btn-lg" style="width:500Px" onclick="location.href='@Url.Action("Index", "RoofVids")'">
        <i class="glyphicon glyphicon-eject"></i> Несущая часть крыши &raquo;
    </button>
</p>
<p>
    <button class="btn btn-success btn-lg" style="width:500Px" onclick="location.href='@Url.Action("Index", "RoofUteplenies")'">
        <i class="glyphicon glyphicon-eject"></i> Утепление крыши &raquo;
    </button>
</p>
<p>
    <button class="btn btn-success btn-lg" style="width:500Px" onclick="location.href='@Url.Action("Index", "DOMRoofs")'">
        <i class="glyphicon glyphicon-lock"></i> Крыша дома &raquo;
    </button>
</p>