@model IEnumerable<GKHNNC.Models.WhiteList>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout0.cshtml";
}

<h2>Главная</h2>

<p>
    @Html.ActionLink("Создать", "Create", null, new {@class = "btn btn-success btn-block"})
</p>
<table id="T" class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nomer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Obiem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kontragent)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nomer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marka)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Obiem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kontragent)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
<p><a href="/Home/Index" class="btn btn-success btn-block">В главное меню &raquo;</a> </p>
