@model IEnumerable<GKHNNC.Models.House>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Осмотры, отправленные на проверку</title>
</head>
<body>
    <h2>Осмотры, отправленные на проверку</h2>

    <p><a href="/Home/Index" class="btn btn-success btn-block"><< В главное меню </a> </p>
    <div class="alert-success">
        <p>03.07 В этом разделе видны все осмотры, отправленные на проверку !</p>
        <p>Алгоритм действий: </p>
        <p>1) Выберите осмотр. </p>
        <p>2) Проверьте все данные. </p>
        <p>3) Если все данные верны, то нажмите кнопку "Проверка пройдена" </p>
        <p>4) Если данные не верны, то нажмите кнопку "Переделать" </p>
        <p>5) После пройденой проверки осмотр загорится зеленым, если проверка не пройдена, то осмотр исчезнет, а в ЖЭУ станет доступным к редактированию. </p>
        <p>Сейчас "Необходимые работы" работают в тестовом режиме. </p>
    </div>
    <table id="T" class="table table-bordered table-striped">
        <tr>
            <td >
                <input id="Search" class="form-control" placeholder="Начните вводить имя улицы для поиска" />
            </td>
            <td>
                <button class="btn btn-block btn-success" onclick="window.location.replace('/Houses/Index')"> Все адреса </button>
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Adres)
            </th>
            <th>
                Осмотр дома
            </th>
          
            

        </tr>
        @{bool Y = false; }
        @foreach (var item in Model)
        {
            string GISGKH = "";
            if (item.GISGKH == false)
            {
                GISGKH = "table-warning";

                if (!Y)
                {
                    <tr>
                        <td colspan="4" style="text-align:center">
                            <h5>Данные ГИСЖКХ отсутствуют по следующим домам:</h5>
                        </td>

                    </tr>
                }
                Y = true;
            }
            if (item.OsmotrEst && item.Osmotrs.Count > 0)
            {
                    <tr class="@GISGKH">
                        <td>
                            @Html.DisplayFor(modelItem => item.Adres)
                        </td>
                       
                        <td>
                            @if (item.Osmotrs != null && item.Osmotrs.Count > 0)
                            {
                                for (int j = 0; j < item.Osmotrs.Count; j++)
                                {
                                    if (item.Osmotrs[j].Sostoyanie == 1)
                                    {

                                        @Html.ActionLink("Осмотр от " + item.Osmotrs[j].Date.ToShortDateString(), "Info", "Osmotrs", new { id = item.Osmotrs[j].AdresId, date = item.Osmotrs[j].Date }, new { @type = "button", @class = "btn btn-secondary" });
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Осмотр от " + item.Osmotrs[j].Date.ToShortDateString(), "Info", "Osmotrs", new { id = item.Osmotrs[j].AdresId, date = item.Osmotrs[j].Date }, new { @type = "button", @class = "btn btn-success" });
                                    }

                                }

                            }
                        </td>
                        
                        <!--


    <td>
        @Html.ActionLink("Информация", "Edit", new { id = item.AdresId }, new { @type = "button", @class = "form-control" })
    </td>
        -->
                    </tr>
            }
        }

    </table>
    <p><a href="/Home/Index" class="btn btn-success btn-block"><< В главное меню </a> </p>
    <!-- Modal -->
    <div class="modal fade" id="Download" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Загрузка данных, пожалуйста подождите...</h4>
                    <button id="X" type="button" class="close hide" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="progress">

                        <div id="progressBar" class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        <center>
                            <label id="nadpis">Загрузка данных...</label>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
@Scripts.Render("~/scripts/jquery-3.4.1.js")
@Scripts.Render("~/scripts/jquery-ui-1.12.1.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
@Scripts.Render("~/scripts/bootstrap.js")
@Scripts.Render("~/scripts/bootstrap.bundle.js")
@Scripts.Render("/scripts/ExportToExcel/excelexportjs.js")
<link rel="stylesheet" href="~/Scripts/JqueryThemes/ui-lightness/jquery-ui.css" />
<script>
 $("#Search").autocomplete({
        source: '@Url.Action("SearchAdres", "Houses")',
        minLength: 1,
        select: function (event, ui)
        {

        var _this = ui.item.label;
        window.location.replace('/Houses/OsmotrsProverka1?Adres=' + _this);


        },

        open: function (event, ui) {
        $(this).removeClass('ui-autocomplete-loading');

        }
    });

    $('#Search').on('keypress', function () {
        var that = this;

        setTimeout(function () {
            var res = /[^а-я,0-9,А-Я ]/g.exec(that.value);
            console.log(res);
            that.value = that.value.replace(res, '');
        }, 0);
    });
</script>
<script>
    function NewOsmotr(id, date) {
        alert(id + ';' + date);
        var GO = confirm('Вы уверены, что хотите создать новый осмотр? ')
        if (GO) {
           
            /**/
            window.location.replace('/Osmotrs/Create?id='+id+'&date=' + date);
    /**/

}
}
</script>
