@model GKHNNC.Models.Element

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout0.cshtml";
}

<h2>Создать</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="container">
 <div class="form-horizontal">

        <div class="row col-md-6 col-md-offset-3">
		  <div class="col-md-12">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
        
            </div>
            <div class="col-md-12">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="row col-md-6 col-md-offset-3">
		  <div class="col-md-12">
            @Html.LabelFor(model => model.ElementId, htmlAttributes: new { @class = "control-label" })
        
            </div>
            <div class="col-md-12">
                <input class="form-control" id="ElementId" name="ElementId" type="number" value="@(ViewBag.MaxId+1)" />
               
            </div>
        </div>


        <div class="row col-md-6 col-md-offset-3">
		  <div class="col-md-12">
            @Html.LabelFor(model => model.ElementTypeId, "ElementTypeId", htmlAttributes: new { @class = "control-label" })
        
            </div>
            <div class="col-md-12">
                @Html.DropDownList("ElementTypeId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ElementTypeId, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="row col-md-6 col-md-offset-3">
		  <div class="col-md-12">
            @Html.LabelFor(model => model.PhotoNeeded, htmlAttributes: new { @class = "control-label" })
        
            </div>
            <div class="col-md-12">
                <div class="checkbox">
                    @Html.EditorFor(model => model.PhotoNeeded)
                    @Html.ValidationMessageFor(model => model.PhotoNeeded, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="row col-md-6 col-md-offset-3">
		  <div class="col-md-12">
            @Html.LabelFor(model => model.Podsvetit, htmlAttributes: new { @class = "control-label" })
        
            </div>
            <div class="col-md-12">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Podsvetit)
                    @Html.ValidationMessageFor(model => model.Podsvetit, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        
<div class="row col-md-12">
<p> </p>
</div>


            
                <div class=" col-md-6  ">
                    @Html.ActionLink("Назад", "Index", null, new { @class = "btn btn-outline-success btn-block" })
                </div>
                <div class=" col-md-6  ">
                    <input type="submit" value="Готово" class="btn btn-success btn-block" />
                </div>

            

   </div>
 </div>
 }
