@model GKHNNC.Models.ActiveDefect

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout0.cshtml";
}

<h2><Удалить></h2>

<h3>Удаление элемента?</h3>
<div>
    <h4>ActiveDefect</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Adres.Adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adres.Adress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Defect.Def)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Defect.Def)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Element.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Element.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sostoyanie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sostoyanie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opisanie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opisanie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

       
           
            
       
		<div class="row col-md-6 col-md-offset-3">
           
                <div class=" col-md-6  ">
                    @Html.ActionLink("Отмена", "Index", null, new { @class = "btn btn-success btn-block" })
                </div>
                <div class=" col-md-6  ">
                    <input type="submit" value="Delete" class="btn btn-success" /> 
                </div>

           
        </div>
        

    }
</div>
