@model IEnumerable<GKHNNC.Models.TableService>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1><b>Таблица сервисов</b></h1>

    <p class="lead">
        Показывает каким образом складывать горячую воду и отопление
    </p>
    <p>
        @Html.ActionLink("Создать", "Create", null, new { @class = "btn btn-success btn-block" })
    </p>
    <table id="T" class="table table-bordered table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summ)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Summ)
                </td>
                <td>
                    @Html.ActionLink("Добавить", "Create", new { id = item.Id }) |
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    <p><a href="/Home/Index" class="btn btn-success btn-block">В главное меню &raquo;</a> </p>
</body>
</html>
