@model IEnumerable<GKHNNC.Models.Adres>

@{
    ViewBag.Title = "Главная";
}

<h2><Center><b>Адреса</b></Center></h2>


<p><a href="/Adres/Create" class="btn btn-success btn-default" style="width:100%">Добавить новый адрес &raquo;</a> </p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Adress)
        </th>
        <th>@Html.DisplayNameFor(model => model.Ploshad)</th>
        <th>@Html.DisplayNameFor(model => model.ActivePloshad)</th>
        <th>@Html.DisplayNameFor(model => model.GEU)</th>
        <th>@Html.DisplayNameFor(model => model.UEV)</th>
        <th>@Html.DisplayNameFor(model => model.OBSD)</th>
        <th>Опции</th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Adress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ploshad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivePloshad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GEU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UEV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OBSD)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
        </td>
    </tr>
    }

</table>
<p><a href="/Adres/Upload" class="btn btn-success btn-block">Загрузить коды УЭВ  &raquo;</a> </p>
<p><a href="/Adres/APUpload" class="btn btn-success btn-block">Загрузить активные площади  &raquo;</a> </p>
<p><a href="/Home/Index" class="btn btn-success btn-block">В главное меню &raquo;</a> </p>