@model IEnumerable<GKHNNC.Models.Adres>

@{
    ViewBag.Title = "Главная";
}

<h2><Center><b>Адреса</b></Center></h2>

@Html.DropDownList("GEU", new SelectList(ViewBag.GEU, "value", "text"), new { @class = "form-control btn btn-outline-success" })
<p><a href="/Adres/Create" class="btn btn-success btn-default" style="width:100%">Добавить новый адрес &raquo;</a> </p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Adress)
        </th>
        <th>@Html.DisplayNameFor(model => model.Ploshad)</th>
        <th>@Html.DisplayNameFor(model => model.ActivePloshad)</th>
        <th>@Html.DisplayNameFor(model => model.MKD)</th>
        <th>Тип дома</th>
        <th>@Html.DisplayNameFor(model => model.GEU)</th>
        <th>@Html.DisplayNameFor(model => model.EUId)</th>
        <th>Опции</th>
    </tr>

    @foreach (var item in Model)
    {
        string CH = "checked";
        if (!item.MKD)
        {
            CH = "";
        }

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ploshad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivePloshad)
            </td>
            <td>
                <input data-val="true"
                       id="Checkbox_@item.Id"
                       name="Checkbox_@item.Id"
                       type="checkbox"
                       value="@item.MKD"
                       @CH
                       onchange="MKDChange('@item.Id',this)"
                       class="form-control" />
            </td>
            <td>

                @Html.DropDownList("TypeId", new SelectList(@ViewBag.Types, "Value", "Text", item.TypeId), new { @class = "form-control", @onchange = "TypeChange('" + item.Id + "',this)" })

            </td>
            <td>
                <select class="form-control" id="GEU_@item.Id" name="GEU" onchange="GEUChange('@item.Id',this)">
                    @foreach (SelectListItem I in ViewBag.G)
                    {
                        string Sel = "";
                        if (item.GEU.Equals(I.Text))
                        {
                            Sel = "Selected='Selected'";
                        }
                    <option value="@I.Value" @Sel>@I.Text</option>
             
                    }
                </select>
              
            </td>
            <td>
                <input value="@item.EUId" readonly id="EU_@item.Id" class="form-control" style="width:40px" />
               
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<p><a href="/Adres/Upload" class="btn btn-success btn-block">Загрузить коды УЭВ  &raquo;</a> </p>
<p><a href="/Adres/APUpload" class="btn btn-success btn-block">Загрузить активные площади  &raquo;</a> </p>

<p><a href="/Home/Index" class="btn btn-success btn-block">В главное меню &raquo;</a> </p>

@section Scripts {
    @Scripts.Render("~/scripts/jquery-ui-1.12.1.min.js")
    @Scripts.Render("~/scripts/jquery-3.3.1.js")
    @Scripts.Render("~/Scripts/chosen.jquery.min.js")
    <script>
        $('#GEU').change(function () {

            var G = $('#GEU').val();//выбраное значение в селекте
            // alert("Чушь");
            window.location.replace('/Adres/Index?geu=' + parseInt(G));



            //идем в комплит воркс контроллер и там действие поиск по жэу отправляем выбранное значение в селекте, получаем дату список всех домов по жэу из БД перекинутых в лист стринг

            // alert("PING!");

        });
    </script>
    <script>
        function MKDChange(Id, Val)
        {
            _val = $(Val).prop('checked');
           // alert(Id + _val);
             $.post('@Url.Action("Obslug", "Adres")', { AdresId:Id, MKD: _val},
                 function (data) {
                     console.log('Контроллер вернул данные ' + data);

                     if (data == 'Ok')
                     {
                        // alert('Не смогли сохранить изменения... Попробуйте через редактирование');

                     }
                     else
                     {
                         alert('Не смогли сохранить изменения... Попробуйте через редактирование' );
                     }
                            // $('body').append('<ul><li>Java</li><li>JavaScript</li></ul>');
                        });
        }

    </script>
    <script>
        function TypeChange(Id, th)
        {
            _val = $(th).val();
            alert(Id + _val);
            $.post('@Url.Action("TypeChange", "Adres")', { AdresId: parseInt(Id), TypeId: parseInt(_val)},
                 function (data) {
                     console.log('Контроллер вернул данные ' + data);

                     if (data == 'Ok')
                     {
                        // alert('Не смогли сохранить изменения... Попробуйте через редактирование');

                     }
                     else
                     {
                         alert('Не смогли сохранить изменения... Попробуйте через редактирование' );
                     }
                            // $('body').append('<ul><li>Java</li><li>JavaScript</li></ul>');
                        });
        }

    </script>
    <script>
        function GEUChange(Id, th)
        {
            _val = $(th).val();
           // alert(Id + _val);
            $.post('@Url.Action("GEUChange", "Adres")', { AdresId: parseInt(Id), GEU: _val},
                 function (data) {
                     console.log('Контроллер вернул данные ' + data);

                     if (data != 'Error')
                    {
                         $('#EU_' + Id).val(data);
                        // alert('Не смогли сохранить изменения... Попробуйте через редактирование');

                     }
                     else
                     {
                         alert('Не смогли сохранить изменения... Попробуйте через редактирование' );
                     }
                            // $('body').append('<ul><li>Java</li><li>JavaScript</li></ul>');
                        });
        }

    </script>
}