@model IEnumerable<GKHNNC.Models.GEU>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ЖЭУ</h2>

<p>
    @Html.ActionLink("Добавить новое ЖЭУ", "Create", null, new { @class = "btn btn-success btn-default", @style = "width:100%" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Director)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doverennost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IngenerPTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IngenerOEGF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EU)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Director)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Doverennost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IngenerPTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IngenerOEGF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EU)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
<p>
    <a href="/Home/Index" class="btn btn-success" style="width: 100%">В главное меню</a>
</p>
