@model IEnumerable<GKHNNC.Models.PrintConstant>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout0.cshtml";
}

<h2>Основные должности</h2>

<table class="table">
    <tr>
        <td>
           Поле для поиска
        </td>
        <th>
            ФИО
        </th>
        <th>
            ФИО Родительный падеж
        </th>
        <th>
           Должность
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Poisk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.NameRP)
        </th>
        <td>
            <input readonly value="@item.Dolgnost" class="btn btn-default" />
        </td>
        <td>
            @Html.ActionLink("Редактировать", "PCEdit", new { id = item.Id })
        </td>
    </tr>
}

</table>
