@model GKHNNC.Models.Ezdka

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout0.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ezdka</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Avto.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Avto.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArhNumb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArhNumb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Probeg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Probeg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ezdki)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ezdki)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Voditel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voditel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
