@{
    ViewBag.Title = "IndexPoDomam";
    Layout = "~/Views/Shared/_Layout0.cshtml";
}

@model IEnumerable<GKHNNC.Models.VipolnennieUslugi>


        <table class="table table-striped table-bordered" style="width:100%">
            <tbody>
                <tr style="height:20Px">
                    @if (ViewBag.GEU != null)
                    {
                        <td><h5><CENTER><b>ЭУ</b></CENTER></h5></td>
                    }
                    <td><h5><CENTER><b>МЕСЯЦ</b></CENTER></h5></td>
                    <td><h5><CENTER><b>ГОД</b></CENTER></h5></td>
                    <td><h5><CENTER><b></b></CENTER></h5></td>


                </tr>


                <tr>
                    @if (ViewBag.GEU != null)
                    {
                        <td>
                            @{ MultiSelectList MSL2 = new MultiSelectList("пусто");
                                MSL2 = new MultiSelectList(ViewBag.GEU);
                                @Html.DropDownList("GEU", MSL2, new { @class = "form-control", @style = "width: 100%" })
                            }
                        </td>
                    }

                    <td>


                        @Html.DropDownList("Month", new SelectList(ViewBag.Month, "value", "text"), new { @class = "form-control", @style = "width: 100%" })
                    </td>

                    <td>
                        @{

                            MultiSelectList MSL3 = new MultiSelectList(ViewBag.Year);
                        }
                        @Html.DropDownList("Year", MSL3, new { @class = "form-control", @style = "width: 100%" })
                    </td>
                    <td>
                        <button class="btn btn-success btn-block" onclick="Poisk()">Поиск</button>
                    </td>

                </tr>

            </tbody>
        </table>

@section Scripts {
    @Scripts.Render("~/scripts/jquery-ui-1.12.1.min.js")
    @Scripts.Render("~/scripts/jquery-3.3.1.js")
    @Scripts.Render("~/Scripts/chosen.jquery.min.js")




    
    <script>
        function Poisk() {
        var Y = $('#Year').val();//выбраное значение в селекте
                            var M = $('#Month').val();//выбраное значение в селекте
                            var GEU = $('#GEU').val();//выбраное значение в селекте
                            var SV = Y + ";" + M + ";" + GEU;
                            $("#Spisok").load('@Url.Action("PartialViewSpisokEu", "CompleteWorks")', { Selection: SV });
        }
    </script>

}
