@model GKHNNC.Models.Tarif

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout0.cshtml";
}

<h2>Создать</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="container">
 <div class="form-horizontal">

        <div class="row col-md-6 col-md-offset-3">
		  <div class="col-md-12">
            @Html.LabelFor(model => model.HotWater, htmlAttributes: new { @class = "control-label" })
        
            </div>
            <div class="col-md-12">
                @Html.EditorFor(model => model.HotWater, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HotWater, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="row col-md-6 col-md-offset-3">
		  <div class="col-md-12">
            @Html.LabelFor(model => model.ColdWater, htmlAttributes: new { @class = "control-label" })
        
            </div>
            <div class="col-md-12">
                @Html.EditorFor(model => model.ColdWater, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ColdWater, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="row col-md-6 col-md-offset-3">
		  <div class="col-md-12">
            @Html.LabelFor(model => model.OtoplenieEnergy, htmlAttributes: new { @class = "control-label" })
        
            </div>
            <div class="col-md-12">
                @Html.EditorFor(model => model.OtoplenieEnergy, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OtoplenieEnergy, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="row col-md-6 col-md-offset-3">
		  <div class="col-md-12">
            @Html.LabelFor(model => model.TeplotaVKube, htmlAttributes: new { @class = "control-label" })
        
            </div>
            <div class="col-md-12">
                @Html.EditorFor(model => model.TeplotaVKube, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TeplotaVKube, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="row col-md-6 col-md-offset-3">
		  <div class="col-md-12">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label" })
        
            </div>
          <div class="col-md-12">
              @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } }) ВНИМАНИЕ!!! Формат:Месяц/День/Год 
              @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
          </div>
        </div>

        
<div class="row col-md-12">
<p> </p>
</div>

<div class="row col-md-6 col-md-offset-3">
            
                <div class=" col-md-6  ">
                    @Html.ActionLink("Назад", "Index", null, new { @class = "btn btn-success btn-block" })
                </div>
                <div class=" col-md-6  ">
                    <input type="submit" value="Готово" class="btn btn-success btn-block" />
                </div>

            
        </div>
   </div>
 </div>
 }
