@model IEnumerable<GKHNNC.Models.MusorPloshadka>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout0.cshtml";
}

<h2>Мусорные площадки</h2>

@if (ViewBag.Errors != null && ViewBag.Errors.Length > 1)
{
    if (ViewBag.Errors.Contains(";"))
    {
        string[] S = ViewBag.Errors.Split(";");
        <H3>Ошибки загрузки данных:</H3>
        <table class="table-bordered table-striped">

            @foreach (string s in S)
            {
                <tr>
                    <td>
                        @s
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <H3>Ошибка: @ViewBag.Errors</H3>
    }
}
@if (ViewBag.Er2 != null)
{
    <div class="btn btn-danger btn-block">
        @ViewBag.Er2

    </div>
}
<table id="T" class="table table-bordered table-striped">
    <tr>
        @Html.BeginForm("ImportMusorPloshadka", "MusorPloshadkas", FormMethod.Post, new { enctype = "multipart/form-data" })
        <td colspan="3"></td>
        <td colspan="5">
            <input name="file" type="file" class="form-control" />
        </td>
        <td colspan="5">
            <select id="DA" name="Day" class="form-control">
                <option value="0">Понедельник</option>
                <option value="1">Вторник</option>
                <option value="2">Среда</option>
                <option value="3">Четверг</option>
                <option value="4">Пятница</option>
                <option value="5">Суббота</option>
                <option value="6">Воскресенье</option>
            </select>
        </td>
        <td colspan="4">
            <button id="LOAD" type="submit" class="btn btn-success btn-block" onclick="ImportExcel()">Загрузить данные</button>
        </td>
    </tr>
    <tr style="text-align:center">
        <th colspan="3">
            Основные данные
        </th>
        <th colspan="10">
            Базовые параметры
        </th>
        <th colspan="4">
            Дополнительные данные
        </th>
    </tr>
    <tr>


        <th>
            <p>
                @Html.DisplayNameFor(model => model.Street.Name)
            </p>
        </th>

        <th>
            <p> Номера домов</p>


        </th>
        <th>
            <p>
                Тип площадки
            </p>
        </th>
        <th>
            Объём контейнера
        </th>
        <th>

        </th>
        @for (int i = 0; i < 7; i++)
        {
            <th>
                @switch (i)

                {
                    case 0:<p>ПН</p>
                        break;
                    case 1: <p>ВТ</p>
                        break;
                    case 2: <p>СР</p>
                        break;
                    case 3: <p>ЧТ</p>
                        break;
                    case 4: <p>ПТ</p>
                        break;
                    case 5: <p>СБ</p>
                        break;
                    case 6: <p>ВС</p>
                        break;
                    default:<p>ВС</p>
                        break;
                }
            </th>

        }
        <th>
            @Html.DisplayNameFor(model => model.IDPloshadki)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameUL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UL)
        </th>


    </tr>
    <tr>

        <td>
            <p>
                <input class="form-control" id="Street" value="@ViewBag.Name" />
                <button class="btn btn-light" onclick="window.location.replace('/MusorPloshadkas/Index')">Все</button>
                <!--   @Html.DropDownList("MyStreet", new SelectList(ViewBag.Streets, "Value", "Text", ViewBag.StreetId), new { @class = "form-control", onchange = "MyStreetChange()", value= "@ViewBag.Name" })-->
            </p>
        </td>
        <td>
            <input id="Name" class="btn btn-circle btn-light" style="width:120px" value="">


        </td>
        <td>
            @Html.DropDownList("TypeId", new SelectList(ViewBag.ContainersTypes, "Value", "Text"), new { @class = "form-control" })
        </td>
        <td>
            <input id="KontainerObiem" class="btn btn-circle btn-light" value="0" type="number" min="0" step="0.01" style="width:70px">
        </td>
        <td>
            <p>
                Объём
            </p>
            <p>
                Количество контейнеров
            </p>
        </td>
        @for (int i = 0; i < 7; i++)
        {
            <td>
                <input id="@i" class="btn btn-circle btn-light" value="0" type="number" min="0" step="0.01" style="width:70px;background:lightyellow">


                <input id="K_@i" class="btn btn-circle btn-light" value="0" type="number" min="0" step="1" style="width:70px;background:lightgreen">

            </td>

        }
        <td>
            <input id="IdPloshadki" class="btn btn-circle btn-light" value="0" type="number" min="0" step="1" style="width:70px">

        </td>
        <td>
            <input id="UL" class="btn btn-circle btn-light" style="width:120px">

        </td>
        <td>
            <input id="MKD" class="btn btn-circle btn-light" value="МКД" style="width:70px">

        </td>


    </tr>
    <tr>
        <td colspan="6">
            <button class="btn btn-circle btn-success btn-block" onclick="AddPloshadka()">
                Добавить новую площадку
            </button>
        </td>
        <td colspan="3">
            <button class="btn btn-circle btn-success btn-block" onclick="ToExcel()">
                В Excel &raquo;
            </button>
        </td>
        <td colspan="3">
            <button class="btn btn-circle btn-success btn-block" onclick="window.location.replace('/MusorPloshadkas/MarshrutsBaseIndex')">
                К маршрутам  &raquo;
            </button>
        </td>
        <td colspan="3">
            <button class="btn btn-circle btn-success btn-block" onclick="window.location.replace('/Home/Index')">
                В главное меню  &raquo;
            </button>
        </td>
    </tr>
</table>
<table class="table-bordered " id="TableData">
    <tr style="text-align:center">
        <th>
            ИД
        </th>
        <th>
            <p>
                @Html.DisplayNameFor(model => model.Street.Name)
            </p>



        </th>
        <th>
            <p> Номера домов (имя площадки)</p>
        </th>
        <th>
            <p> Тип площадки</p>
        </th>
        <th>

        </th>

        @for (int i = 0; i < 7; i++)
        {
            <th>
                @switch (i)

                {
                    case 0:<p>ПН</p>
                        break;
                    case 1: <p>ВТ</p>
                        break;
                    case 2: <p>СР</p>
                        break;
                    case 3: <p>ЧТ</p>
                        break;
                    case 4: <p>ПТ</p>
                        break;
                    case 5: <p>СБ</p>
                        break;
                    case 6: <p>ВС</p>
                        break;
                    default:<p>ВС</p>
                        break;
                }
            </th>

        }
        <th>
            @Html.DisplayNameFor(model => model.IDPloshadki)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameUL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UL)
        </th>


    </tr>
    @foreach (var item in Model)
    {
        string KontStyle = "";
        string color = "btn-warning";
        if (item.Obnovleno == true) { color = ""; };
        if (item.TypeId == 1)
        {
            KontStyle = "display:none";
        }


        //Streets = Streets.Remove(Streets.Length - 1, 1);


        <tr class="@color">
            <td>
                #@Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @{string Streets = "";
                    for (int i = 0; i < item.VseUlici.Count; i++)
                    {
                        <button class="btn btn-circle btn-success" value="@item.VseUlici[i].Name" onclick="MyStreetChange(@item.VseUlici[i].Id)">
                            @item.VseUlici[i].Name
                            @if (item.VseUlici.Count > 1)
                            {
                                <img src="~/Content/Images/x.png" height="10" width="10" onclick="DeleteUlica('@item.VseUlici[i].Id','@item.VseUlici[i].Name','@item.Id')" title="Удалить улицу">
                            }
                        </button>

                    }
                }
                <button class="btn btn-circle btn-warning" onclick="AddUlica(@item.Id)" style="width:50px">
                    +
                </button>
                @if (item.Obnovleno == false)
                {
                    <input class="btn btn-circle btn-danger" onclick="DeletePloshadka(@item.Id)" style="width:50px;cursor:crosshair" readonly value="X"/>
                  
                }
            </td>
            <td>
                <input id="Name_@item.Id" class="btn btn-circle btn-light" value="@item.Name" onchange="ReName('@item.Id',this.value)">

            </td>
            <td>
                <div class="card" style="width: 18rem;">


                    <table class="table-responsive-xl">
                        <tr>
                            <td rowspan="2">
                                <img id="Ico_@item.Id" src="@item.Type.Ico" height="64" width="64" title="@item.Type.Name">
                            </td>
                            <td>
                                @Html.DropDownList("IDAll", new SelectList(ViewBag.ContainersTypes, "Value", "Text", item.TypeId), new { @class = "form-control", onchange = "RefreshType(this)", Ico = item.Id })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-borderless">
                                    <div class="row ">
                                        <div class="col-6">Объём контейнера</div>
                                        <div class="col-6"><input class="btn btn-circle btn-light" style="width:90px" value="@item.ObiemContainera" type="number" min="0" step="0.01" onchange="ObiemConteinera('@item.Id',this.value)"></div>

                                    </div>
                                </div>

                            </td>
                        </tr>
                    </table>
                </div>

            </td>

            <td>
                <div class="tab-content">
                    <div class="row" style="text-align:center">
                        <div class="col-12">
                            <p>
                                Объём
                            </p>
                        </div>
                        <div class="col-12">
                            <p id="Kol_@item.Id" style="@KontStyle">
                                Количество контейнеров
                            </p>
                        </div>
                    </div>
                </div>


            </td>
            @{int OO = 0;}
            @foreach (decimal O in item.Obiem7)
            {
                string Obiem = "Obiem" + item.Id.ToString() + "_" + OO.ToString();
                string Kontainer = "Kontainer" + item.Id.ToString() + "_" + OO.ToString();

                <td>
                    <input id="@Obiem" class="btn btn-circle btn-light" style="width:70px;background:lightyellow;width:70px" value="@O" type="number" min="0" step="0.001" onchange="ReObiem('@item.Id',this,'@OO')">

                    <input id="@Kontainer" class="btn btn-circle btn-light" style="width:70px;background:lightgreen;width:70px;@KontStyle" value="@item.Kontainers7[OO]" type="number" min="0" step="1" onchange="ReKontainers('@item.Id',this,'@OO')">
                </td>
                OO++;
            }

            <td>
                <input id="P_@item.Id" class="form-control" value="@item.IDPloshadki" onchange="IDPloshadki('@item.Id',this.value)" />
            </td>
            <td>
                <input id="P_@item.Id" class="form-control" value="@item.NameUL" onchange="NameUL('@item.Id',this.value)" />
            </td>
            <td width="100px">
                @{
                    string select = "selected";
                }
                <select class="form-control" onchange="UL('@item.Id',this.value)">
                    @if (item.UL.Equals("МКД"))
                    {
                        <option value="МКД" selected>МКД</option>
                        <option value="ЮЛ">ЮЛ</option>
                        <option value="ИЖД">ИЖД</option>
                    }
                    else
                    {
                        <option value="МКД">МКД</option>
                        <option value="ЮЛ" selected>ЮЛ</option>
                        <option value="ИЖД">ИЖД</option>
                    }


                </select>


            </td>


        </tr>
    }

</table>

<!-- Modal -->
<div class="modal fade" id="AddUlicaModal" tabindex="-1" role="dialog" aria-labelledby="AddAvtoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content col-12">
            <div class="modal-header">
                <h3 class="modal-title" id="AddAvtoModalLabel">Добавить улицу</h3>

            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AddStreet", "MusorPloshadkas", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="col-6">
                        <input id="Id" name="Id" class="form-control" readonly="readonly" />
                    </div>
                    <div class="col-6">
                        Улица
                    </div>
                    <div class="col-6">
                        @Html.DropDownList("StreetId", new SelectList(ViewBag.Streets, "Value", "Text", ViewBag.StreetId), new { @class = "form-control" })
                    </div>
                    <div class="col-6" style="margin:10px">


                        <button id="AddStreet" type="submit" class="btn btn-success btn-block">
                            Добавить улицу


                        </button>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

<p><a href="/Home/Index" class="btn btn-success btn-block">В главное меню &raquo;</a> </p>
@section Scripts{
    @Scripts.Render("~/scripts/jquery-3.4.1.js")
    @Scripts.Render("~/scripts/jquery-ui-1.12.1.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/scripts/bootstrap.js")
    @Scripts.Render("~/scripts/bootstrap.bundle.js")
    @Scripts.Render("/scripts/ExportToExcel/excelexportjs.js")
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.3/themes/ui-lightness/jquery-ui.css" />



    <script>
        $('#Street').on('keypress', function () {
            var that = this;

            setTimeout(function () {
                var res = /[^а-я,0-9,А-Я ]/g.exec(that.value);
                console.log(res);
                that.value = that.value.replace(res, '');
            }, 0);
        });
    </script>
    <script>
        function ReName(Id, Val)
        {
        $.post('@Url.Action("SaveNamePloshadki", "MusorPloshadkas")', { Id: Id, Val:Val},
                  function (data) {


                    });
        }
    </script>
    <script>
        function ObiemConteinera(Id,Val)
        {
              $.post('@Url.Action("SaveObiemContainera", "MusorPloshadkas")', { Id: Id, Val:Val},
                  function (data) {

                      RefreshObiems(Id, data);
                    });

        }
    </script>
    <script>
        function RefreshObiems(Id, data) {
            var S = data.split(';');
            for (var i = 0; i < 7; i++) {
                $("#Obiem" + Id + "_" + i).val(S[i]);

            }
        }
    </script>
    <script type="text/javascript">
    $("#Street").autocomplete({
        source: '@Url.Action("SearchStreet", "MusorPloshadkas")',
        minLength: 1,
        select: function (event, ui)
        {

            var _this = ui.item.label;
            window.location.replace('/MusorPloshadkas/Index?StreetId=' + _this);


        },

        open: function (event, ui) {
            $(this).removeClass('ui-autocomplete-loading');

        }
    });
    </script>


    <script>

        function ToExcel() {
            var images = $("img");
            for (var i = 0; i < images.length; i++) {
                var Alt = images[i].getAttribute("alt");
                images[i].replaceWith(Alt);


            };

            var inputs = $("input");
            for (var i = 0; i < inputs.length; i++) {
                var Inp = inputs[i].value;
                inputs[i].replaceWith(Inp);
            }
            var buttons = $("button");
            for (var i = 0; i < buttons.length; i++) {
                var But = buttons[i].value;
                buttons[i].replaceWith(But);
            }
            $("#TableData").excelexportjs({
                containerid: "TableData",
                datatype: 'table'
            });
            window.location.replace('/MusorPloshadkas/Index');
        };

    </script>
    <script type="text/javascript">
    $("#Number").autocomplete({
        source: '@Url.Action("SearchNumber", "Poligons")',
        minLength: 4,
        select: function (event, ui)
        {
            var _this = ui.item.label;

            window.location.replace('/Poligons/NumberAndRefresh?term='+_this);
        },
        search: function () {
            $(this).addClass('ui-autocomplete-loading');
            var _this = $(this).val();
            if ($(this).val().length >= 6)
            {
                 $.post('@Url.Action("SearchCompleteNumber", "Poligons")', { term: _this },
                        function (data) {

                            if (data != "")
                            {
                                window.location.replace('/Poligons/Index?Number=' + _this);
                            }
                            else {
                                var AvtoNum = $("#AddAvtoModal").find("#Number").val(_this);
                                $("#AddAvtoModal").modal('show');
                            }



                        });

            }
        },
        open: function (event, ui) {
            $(this).removeClass('ui-autocomplete-loading');

        }
    });
    </script>
    <script>
        function RefreshType(t)
        {
            var _this = $(t);
            var Id = _this.attr("Ico");
            var Value = _this.val();

              $.post('@Url.Action("SaveTypePloshadki", "MusorPloshadkas")', { Id: Id, Val:Value},
                  function (data) {
                      $("#Ico_" + Id).attr("src", data);
                      if (Value == 1) {
                          var Kol = $("#Kol_" + Id);
                          for (var i = 0; i < 7; i++) {
                              $("#Kontainer" + Id + "_" + i).fadeOut("slow");

                          }
                          Kol.fadeOut("slow");
                      }
                      else
                      {

                          for (var i = 0; i < 7; i++)
                          {
                              var Kontainer = $("#Kontainer" + Id + "_" + i);

                              if (Kontainer.is(':hidden'))
                              {
                                  Kontainer.fadeIn("slow");
                              }

                          }
                          var Kol = $("#Kol_" + Id);
                          if (Kol.is(':hidden'))
                          {
                              Kol.fadeIn("slow");
                          }

                      }
                    });


        }
    </script>

    <script>
        function DeleteUlica(a,b,ploshadka) {
             var isDelete = confirm("Вы уверены, что хотите удалить "+b+" в данной площадке?");

            if (isDelete)
            {
                $.post('@Url.Action("DeleteStreet", "MusorPloshadkas")', { StreetId: a,Id:ploshadka},
                    function (data) {
                         //   window.location.replace('/MusorPloshadkas/Index');
                        // $('body').append('<ul><li>Java</li><li>JavaScript</li></ul>');
                    });
            }
        };
    </script>
    <script>
        function NameUL(ploshadka,v) {

                $.post('@Url.Action("NameUL", "MusorPloshadkas")', { Id: ploshadka, V:v},
                    function (data) {

                    });

        };
    </script>
    <script>
        function IDPloshadki(ploshadka,v) {

                $.post('@Url.Action("IDPloshadki", "MusorPloshadkas")', { Id: ploshadka, V:v},
                    function (data) {
                         //   window.location.replace('/MusorPloshadkas/Index');
                        // $('body').append('<ul><li>Java</li><li>JavaScript</li></ul>');
                    });

        };
    </script>
    <script>
        function UL(ploshadka,v) {

                $.post('@Url.Action("UL", "MusorPloshadkas")', { Id: ploshadka, V:v},
                    function (data) {
                         //   window.location.replace('/MusorPloshadkas/Index');
                        // $('body').append('<ul><li>Java</li><li>JavaScript</li></ul>');
                    });

        };
    </script>


    <script>
        function ReObiem(id, a, day) {
            var _this = a.value;

            $.post('@Url.Action("ReObiem", "MusorPloshadkas")', { Id: id, Value: _this, Day: day });

        };
    </script>
    <script>
        function ReKontainers(id, a, day) {
            var _this = a.value;

            $.post('@Url.Action("ReKontainer", "MusorPloshadkas")', { Id: id, Value: _this, Day: day },
                function (data)
                {
                    RefreshObiems(id, data);
                }

            );


        };
    </script>

    <script>
        function AddPloshadka() {
            var Obiem = "";
            var Kontainers = "";
            for (var i = 0; i < 7; i++)
            {
                Obiem += $('#' + i).val() + ";";
                Kontainers += $('#K_' + i).val() + ";";

            }
            Obiem = Obiem.slice(0, Obiem.length - 1);
            Kontainers = Kontainers.slice(0, Kontainers.length - 1);
            var Id = $('#IdPloshadki').val();
            var UL = $('#UL').val();
            var MKD = $('#MKD').val();
           // var TKO = $('#TKO').attr('checked');
            var Name = $('#Name').val();
            var TypeId = $('#TypeId').val();
            var KontainerObiem = $('#KontainerObiem').val();

            var StreetId = @ViewBag.StreetId;
            if (UL == "") { UL = "0"; }
            //alert(Id + ";" + Name + ";" + StreetId + ";" + UL + ";" + MKD +  ";" + Obiem + ";" + Name + ";" + Kontainers + ";" + TypeId + ";" + KontainerObiem);

            if (Id != null && UL != "" && MKD != null && StreetId != 0) {
                $.post('@Url.Action("AddMusorPloshadka", "MusorPloshadkas")', { Id: Id, UL: UL, MKD: MKD,  StreetId: StreetId, Obiem: Obiem, Name: Name, Kontainers: Kontainers, TypeId: TypeId, KontainerObiem: KontainerObiem }
                    , function () {
                        window.location.replace('/MusorPloshadkas/Index?StreetId=' + StreetId);

                    }

                );
            }
            else
            {
                alert('Выберите улицу и введите номера домов!');
            }



        };
    </script>


    <script>
        function MyStreetChange(a) {
            if (a != null) {
                window.location.replace('/MusorPloshadkas/Index?StreetId=' + a);
            }
            else {
                var _this = $('#MyStreet').val();
                window.location.replace('/MusorPloshadkas/Index?StreetId=' + _this);
            }

        };
    </script>
    <script>
        function AddUlica(a) {
            if (a != null) {
                $('#Id').val(a);
                $("#AddUlicaModal").modal('show');
            }


        };
    </script>
    <script>
        function DeletePloshadka(a) {
            if (a != null) {
                 var isDelete = confirm("Вы уверены, что хотите удалить данную мусорную площадку?");

            if (isDelete)
            {
                $.post('@Url.Action("DP", "MusorPloshadkas")', { Id: a},
                    function (data) {
                        window.location.replace('/MusorPloshadkas/Index');
                        // $('body').append('<ul><li>Java</li><li>JavaScript</li></ul>');
                    });
            }
            }


        };
    </script>
    <script>

        $('input').on("click", function () {
            var _this = $(this);


            _this.select();
        });
    </script>
    <script>
        function DeletePoligon(a) {
            var id = a.id;
            var isDelete = confirm("Вы уверены, что хотите удалить данный заезд на полигон?");

            if (isDelete)
            {
                $.post('@Url.Action("DeleteZaezd", "Poligons")', { id: id },
                    function (data) {
                            window.location.replace('/Poligons/Index');
                        // $('body').append('<ul><li>Java</li><li>JavaScript</li></ul>');
                    });
            }
        };
    </script>




}