@model IEnumerable<GKHNNC.Models.MusorPloshadka>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout0.cshtml";
}

<h2>Мусорные площадки</h2>


<table id="T" class="table table-bordered table-striped">
    <tr style="text-align:center">
        <th colspan="3">
            Основные данные
        </th>
        <th colspan="7">
            Базовые объёмы
        </th>
        <th colspan="4">
            Дополнительные данные
        </th>
    </tr>
    <tr>
        <th>
            ИД
        </th>
        <th>
            <p>
                @Html.DisplayNameFor(model => model.Street.Name)
            </p>



        </th>
        <th>
            <p> Номера домов</p>


        </th>
        @for (int i = 0; i < 7; i++)
        {
            <th>
                @switch (i)

                {
                    case 0:<p>ПН</p>
                        break;
                    case 1: <p>ВТ</p>
                        break;
                    case 2: <p>СР</p>
                        break;
                    case 3: <p>ЧТ</p>
                        break;
                    case 4: <p>ПТ</p>
                        break;
                    case 5: <p>СБ</p>
                        break;
                    case 6: <p>ВС</p>
                        break;
                    default:<p>ВС</p>
                        break;
                }
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.IDPloshadki)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameUL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UL)
        </th>
        <th width="30px">
            @Html.DisplayNameFor(model => model.TKO)
        </th>

    </tr>
    <tr>
        <td></td>
        <td>
            <p>
                @Html.DropDownList("MyStreet", new SelectList(ViewBag.Streets, "Value", "Text", ViewBag.StreetId), new { @class = "form-control", onchange = "MyStreetChange()" })
            </p>
        </td>
        <td>
            <input id="Name" class="btn btn-circle btn-light" style="width:120px">


        </td>


        @for (int i = 0; i < 7; i++)
        {
            <td>
                <input id="@i" class="btn btn-circle btn-light" value="0" type="number" min="0" step="0.01" style="width:70px">

            </td>

        }
        <td>
            <input id="IdPloshadki" class="btn btn-circle btn-light" value="0" type="number" min="0" step="1" style="width:70px">

        </td>
        <td>
            <input id="UL" class="btn btn-circle btn-light" style="width:120px">

        </td>
        <td>
            <input id="MKD" class="btn btn-circle btn-light" value="МКД" style="width:70px">

        </td>
        <td>
            <input id="TKO" class="form-control" type="checkbox" checked="checked">

        </td>

    </tr>
    <tr>
        <td colspan="15">
            <button class="btn btn-circle btn-success btn-block" onclick="AddPloshadka()">
                Добавить новую площадку
            </button>
        </td>
    </tr>
    @foreach (var item in Model)
    {


        //Streets = Streets.Remove(Streets.Length - 1, 1);


        <tr>
            <td>
                #@Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @{string Streets = "";
                    for (int i = 0; i < item.VseUlici.Count; i++)
                    {
                        <button class="btn btn-circle btn-light" onclick="MyStreetChange(@item.VseUlici[i].Id)">
                            @item.VseUlici[i].Name
                            @if (item.VseUlici.Count > 1)
                            {
                                <img src="~/Content/Images/x.png" height="10" width="10" onclick="DeleteUlica('@item.VseUlici[i].Id','@item.VseUlici[i].Name','@item.Id')" title="Удалить улицу">
                            }
                        </button>

                    }
                }
                <button class="btn btn-circle btn-light" onclick="AddUlica(@item.Id)" style="width:50px">
                    +
                </button>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @{int OO = 0;}
            @foreach (decimal O in item.Obiem7)
            {
                <td>
                    <input class="btn btn-circle btn-light" value="@O" type="number" min="0" step="0.01" onchange="ReObiem('@item.Id',this,'@OO')" style="width:70px">

                </td>
                OO++;
            }

            <td>
                @Html.DisplayFor(modelItem => item.IDPloshadki)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameUL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UL)
            </td>
            <td width="30px">
                <input checked="@item.TKO" class="form-control" type="checkbox" />

            </td>

        </tr>
    }

</table>

<!-- Modal -->
<div class="modal fade" id="AddUlicaModal" tabindex="-1" role="dialog" aria-labelledby="AddAvtoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content col-12">
            <div class="modal-header">
                <h3 class="modal-title" id="AddAvtoModalLabel">Добавить улицу</h3>

            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AddStreet", "MusorPloshadkas", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="col-6">
                        <input id="Id" name="Id" class="form-control" readonly="readonly" />
                    </div>
                    <div class="col-6">
                        Улица
                    </div>
                    <div class="col-6">
                        @Html.DropDownList("StreetId", new SelectList(ViewBag.Streets, "Value", "Text", ViewBag.StreetId), new { @class = "form-control" })
                    </div>
                    <div class="col-6" style="margin:10px">


                        <button id="AddStreet" type="submit" class="btn btn-success btn-block">
                            Добавить улицу


                        </button>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

<p><a href="/Home/Index" class="btn btn-success btn-block">В главное меню &raquo;</a> </p>
@section Scripts{
    @Scripts.Render("~/scripts/jquery-3.4.1.js")
    @Scripts.Render("~/scripts/jquery-ui-1.12.1.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/scripts/bootstrap.js")
    @Scripts.Render("~/scripts/bootstrap.bundle.js")
    @Scripts.Render("/scripts/ExportToExcel/excelexportjs.js")
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.3/themes/ui-lightness/jquery-ui.css" />



    <script>
        function Export() {
            var images = $("img");
            for (var i = 0; i < images.length; i++) {
                var Alt = images[i].getAttribute("alt");
                images[i].replaceWith(Alt);
            };
            $("#tableData").excelexportjs({
                containerid: "tableData",
                datatype: 'table'
            });
        };
    </script>
    <script type="text/javascript">
    $("#Number").autocomplete({
        source: '@Url.Action("SearchNumber", "Poligons")',
        minLength: 4,
        select: function (event, ui)
        {
            var _this = ui.item.label;

            window.location.replace('/Poligons/NumberAndRefresh?term='+_this);
        },
        search: function () {
            $(this).addClass('ui-autocomplete-loading');
            var _this = $(this).val();
            if ($(this).val().length >= 6)
            {
                 $.post('@Url.Action("SearchCompleteNumber", "Poligons")', { term: _this },
                        function (data) {

                            if (data != "")
                            {
                                window.location.replace('/Poligons/Index?Number=' + _this);
                            }
                            else {
                                var AvtoNum = $("#AddAvtoModal").find("#Number").val(_this);
                                $("#AddAvtoModal").modal('show');
                            }



                        });

            }
        },
        open: function (event, ui) {
            $(this).removeClass('ui-autocomplete-loading');

        }
    });
    </script>

    <script>
        function DeleteUlica(a,b,ploshadka) {
             var isDelete = confirm("Вы уверены, что хотите удалить "+b+" в данной площадке?");

            if (isDelete)
            {
                $.post('@Url.Action("DeleteStreet", "MusorPloshadkas")', { StreetId: a,Id:ploshadka},
                    function (data) {
                         //   window.location.replace('/MusorPloshadkas/Index');
                        // $('body').append('<ul><li>Java</li><li>JavaScript</li></ul>');
                    });
            }
        };
    </script>

    <script>
        function ReObiem(id, a, day) {
            var _this = a.value;

            $.post('@Url.Action("ReObiem", "MusorPloshadkas")', { Id: id, Value: _this, Day: day });

        };
    </script>

    <script>
        function AddPloshadka() {
            var Obiem = "";
            for (var i = 0; i < 7; i++)
            {
                Obiem += $('#' + i).val()+";";
            }
            Obiem = Obiem.slice(0, Obiem.length - 1);
            var Id = $('#IdPloshadki').val();
            var UL = $('#UL').val();
            var MKD = $('#MKD').val();
            var TKO = $('#TKO').attr('checked');
            var Name = $('#Name').val();
            var StreetId = $('#MyStreet').val();
            alert(Id + ";" + StreetId + ";" + UL + ";" + MKD + ";" + TKO + ";" + Obiem+";"+Name);

            if (Id != null && UL != "" && MKD != null && TKO != null && StreetId != 0) {
                $.post('@Url.Action("AddPloshadka", "MusorPloshadkas")', { Id: Id, UL: UL, MKD: MKD, TKO: TKO, StreetId: StreetId, Obiem: Obiem, Name:Name });
            }



        };
    </script>
   

    <script>
        function MyStreetChange(a) {
            if (a != null) {
                window.location.replace('/MusorPloshadkas/Index?StreetId=' + a);
            }
            else {
                var _this = $('#MyStreet').val();
                window.location.replace('/MusorPloshadkas/Index?StreetId=' + _this);
            }

        };
    </script>
    <script>
        function AddUlica(a) {
            if (a != null) {
                $('#Id').val(a);
                $("#AddUlicaModal").modal('show');
            }


        };
    </script>
    <script>
        function DeletePoligon(a) {
            var id = a.id;
            var isDelete = confirm("Вы уверены, что хотите удалить данный заезд на полигон?");

            if (isDelete)
            {
                $.post('@Url.Action("DeleteZaezd", "Poligons")', { id: id },
                    function (data) {
                            window.location.replace('/Poligons/Index');
                        // $('body').append('<ul><li>Java</li><li>JavaScript</li></ul>');
                    });
            }
        };
    </script>




}