
@{
    ViewBag.Title = "UploadComplete";
}



<div id="MainNadpis">
    <h2>Файл @ViewBag.file за @ViewBag.date обрабатывается в асинхронном режиме.!</h2>

    <div class="alert alert-success" role="alert">
        Обработка продлится около 5 минут.
        Вы можете спокойно покинуть страницу и заняться другими делами:) 
    </div>
</div>


<p><a href="/IPUs/Index" class="btn btn-success btn-default" style="width:100%" id="go1" hidden>Тут появятся обработанные данные минут через 5 >></a></p>
<p><a href="/Home/Index" class="btn btn-success btn-default" style="width:100%" id="go2" hidden>Вернуться в главное меню >></a></p>


@section Scripts{
    @Scripts.Render("~/scripts/jquery-3.3.1.min.js")
    @Scripts.Render("~/scripts/jquery-ui-1.12.1.min.js")
    @Scripts.Render("~/scripts/nprogress.min.js")
    @Scripts.Render("~/scripts/jquery.signalR-2.4.0.min.js")
    @Scripts.Render("~/signalr/hubs")

    <script>
        $("#go1").fadeIn("slow");
        $("#go2").fadeIn("slow");

    </script>

    <script>
        $("#submit").click(function () {

            $("#tabl").fadeOut("slow");
            $("#submit").fadeOut("slow");
            $("#cancel").fadeOut("slow");
            $("#Nadpis2").fadeIn("slow");
            $("#MainNadpis").fadeOut("slow");

        }


        );
    </script>
    <script>
        $(function () {
            var PB = $.connection.progressHub;
            console.log("Загрузили файл на сервер ждем подтверждения.");
            PB.client.sendMessage = function (message, count) {
                // update progress
                console.log(count);
                UpdateProgress(message, count);
                //alert(message);
            };

            $.connection.hub.start().done(function () {
                console.log("Приконнектились");
                // call the method CallLongOperation defined in the Hub
                PB.server.getCountAndMessage();
                $("#progressBar").hide();
                $("#Nadpis2").hide();
                $("#Nadpis2").fadeOut();


            });


            // Update the progress bar
            function UpdateProgress(message, count) {
                $("#progressBar").fadeIn("slow");
                var result = $("#result");
                result.html(message);

                //$("#progressBar").data("progressbar").value(count);

                $("#progressBar").attr("aria-valuenow", count);
                $("#progressBar").width(count + '%');
                $("#progressBar").text(count + '%');
                $("#nadpis").text(message);
                // $("#progressBar").css("width", count);
            }
        });
    </script>
}