@model GKHNNC.Models.Osmotr

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout0.cshtml";
}

<h2>Редактировать</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
   <div class="container">
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="row col-md-6 col-md-offset-3">
            <div class="col-md-6">
            @Html.LabelFor(model => model.AdresId, "AdresId", htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="col-md-6">
                @Html.DropDownList("AdresId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AdresId, "", new { @class = "text-danger" })
            </div>
         </div>
       

        <div class="row col-md-6 col-md-offset-3">
            <div class="col-md-6">
            @Html.LabelFor(model => model.DOMFasadId, "DOMFasadId", htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="col-md-6">
                @Html.DropDownList("DOMFasadId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DOMFasadId, "", new { @class = "text-danger" })
            </div>
         </div>
       

        <div class="row col-md-6 col-md-offset-3">
            <div class="col-md-6">
            @Html.LabelFor(model => model.DOMFundamentId, "DOMFundamentId", htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="col-md-6">
                @Html.DropDownList("DOMFundamentId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DOMFundamentId, "", new { @class = "text-danger" })
            </div>
         </div>
       

        <div class="row col-md-6 col-md-offset-3">
            <div class="col-md-6">
            @Html.LabelFor(model => model.DOMElectroId, "DOMElectroId", htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="col-md-6">
                @Html.DropDownList("DOMElectroId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DOMElectroId, "", new { @class = "text-danger" })
            </div>
         </div>
       

        <div class="row col-md-6 col-md-offset-3">
            <div class="col-md-6">
            @Html.LabelFor(model => model.DOMCWId, "DOMCWId", htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="col-md-6">
                @Html.DropDownList("DOMCWId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DOMCWId, "", new { @class = "text-danger" })
            </div>
         </div>
       

        <div class="row col-md-6 col-md-offset-3">
            <div class="col-md-6">
            @Html.LabelFor(model => model.DOMHWId, "DOMHWId", htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="col-md-6">
                @Html.DropDownList("DOMHWId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DOMHWId, "", new { @class = "text-danger" })
            </div>
         </div>
       

        <div class="row col-md-6 col-md-offset-3">
            <div class="col-md-6">
            @Html.LabelFor(model => model.DOMOtoplenieId, "DOMOtoplenieId", htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="col-md-6">
                @Html.DropDownList("DOMOtoplenieId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DOMOtoplenieId, "", new { @class = "text-danger" })
            </div>
         </div>
       

        <div class="row col-md-6 col-md-offset-3">
            <div class="col-md-6">
            @Html.LabelFor(model => model.DOMRoofId, "DOMRoofId", htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="col-md-6">
                @Html.DropDownList("DOMRoofId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DOMRoofId, "", new { @class = "text-danger" })
            </div>
         </div>
       

        <div class="row col-md-6 col-md-offset-3">
            <div class="col-md-6">
            @Html.LabelFor(model => model.DOMRoomId, "DOMRoomId", htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="col-md-6">
                @Html.DropDownList("DOMRoomId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DOMRoomId, "", new { @class = "text-danger" })
            </div>
         </div>
       

        <div class="row col-md-6 col-md-offset-3">
            <div class="col-md-6">
            @Html.LabelFor(model => model.DOMVodootvodId, "DOMVodootvodId", htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="col-md-6">
                @Html.DropDownList("DOMVodootvodId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DOMVodootvodId, "", new { @class = "text-danger" })
            </div>
         </div>
       

        <div class="row col-md-6 col-md-offset-3">
            <div class="col-md-6">
            @Html.LabelFor(model => model.Sostoyanie, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.Sostoyanie, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sostoyanie, "", new { @class = "text-danger" })
            </div>
         </div>
       

        <div class="row col-md-6 col-md-offset-3">
            <div class="col-md-6">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
         </div>
       

        <div class="row col-md-6 col-md-offset-3">
            <div class=" form-group">
                <div class=" col-md-6  ">
                    @Html.ActionLink("Назад", "Index", null, new { @class = "btn btn-success btn-block" })
                </div>
                <div class=" col-md-6  ">
                    <input type="submit" value="Изменить" class="btn btn-success btn-block" />
                </div>

            </div>
        </div>
    </div>
</div>
}

