@model GKHNNC.Models.Osmotr

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout0.cshtml";
}



<html>


<body>

    <script type='text/javascript' src='http://code.jquery.com/jquery-1.10.1.min.js'></script>
    <script type='text/javascript'>

    </script>
    <script type='text/javascript'>
        $('#MENU').hide(500);
        $(window).on('load', function () {

            $('#wrap_preloader').delay(500).fadeToggle(500);
            $('#MENU').show(500);
        });
    </script>

    <div id='wrap_preloader' style=" width: 100%;height: 100%;position: fixed;top:0px;margin: 0px auto;background: #1C1C1C;z-index: 99;text-align: center;color: #fff;font-size: 15px;padding-top: 260px;color:limegreen">

        <p>
            <img src="~/Content/Images/Download/D1.gif" align="middle" class="rounded mr-2" alt="Идёт загрузка...">
        </p>
        <p>
            Загружаем осмотр...
        </p>


    </div>






    <div id="MENU" style="background:#28a745;z-index:90;position:fixed;top:0px;">
        @for (int i = 0; i < ViewBag.DOMParts.Count; i++)
        {
            <a href="#@i" style="color:white;font-size:20px">@ViewBag.DOMParts[i] |</a>
        }
        @Html.ActionLink("Сохранить отчет в Excel |", "ExportToExcel", "Osmotrs", null, new { @style = "color:white;font-size:20px" })
        @Html.ActionLink("Назад", "Index", "Houses", null, new { @style = "color:white;font-size:20px" })
    </div>
    <div class="fixed-bottom">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000">
            <div class="toast-header">
                <img src="~/Content/Images/Download/galkaRepeat.gif" class="rounded mr-2" alt="Файл загружен">
                <strong class="mr-auto">Фотография загружена на сервер!</strong>


            </div>

        </div>
    </div>
    <br />
    <h2>Осмотр #@Model.Id</h2>
    <div class="col-md-12" style="background-color:#28a745">
        <table>
            <tr>
                <td>
                    <h3>@Model.Adres.Ulica @Model.Adres.Dom</h3>
                </td>
            </tr>

        </table>
    </div>
    <div class="col-md-12">
        @{

            string status = "Осмотр заполняется ИП";

            if (Model.Sostoyanie == 1) { status = "Осмотр передан на проверку ОЭЖФ " + Model.DateEnd.ToString("MM.dd.yyyy"); }
            if (Model.Sostoyanie == 2) { status = "Осмотр передан на проверку ПТО " + Model.DateOEGF.ToString("MM.dd.yyyy"); }
            if (Model.Sostoyanie == 3) { status = "Осмотр передан на голосование " + Model.DatePTO.ToString("MM.dd.yyyy"); }
            if (Model.Sostoyanie == 4) { status = "Осмотр отголосован. Движение завершено. " + Model.DatePTO.ToString("MM.dd.yyyy"); }
        }
        <h4>Статус осмотра: @status</h4>
    </div>
    <h4>От @Model.Date.Day @ViewBag.Month @Model.Date.Year</h4>
    @if (ViewBag.Error != "")
    {
        <H5>При загрузке возникла ошибка!!!</H5>
        <p>@ViewBag.Error</p>
    }


    @if (Model.AOW != null && (User.Identity.Name.Contains("ПТО") || User.Identity.Name.Contains("ОЭЖФ") || User.Identity.Name.Contains("Голосований") || User.IsInRole("Администратор")))
    {<div class="modal-xl">


            <table id="AO" class="table-bordered table-striped">
                @if (!User.Identity.Name.Contains("Голосований") || User.IsInRole("Администратор"))
                {
                    <tr>
                        <td colspan="12" align="center">
                            @{
                                string works = "Добавить необходимые работы"; string workscol = "btn btn-secondary";
                                if (Model.AOW.Count > 0) { works = "Добавить необходимые работы"; workscol = "btn btn-secondary"; }
                            }
                            <button class="@workscol col-8 " onclick="OpenModal('AddNewActiveWork')">@works</button>
                            <button class="btn btn-success col-3" onclick="location.href='@Url.Action("Index", "OsmotrWorks")'">
                                <i class="glyphicon glyphicon-map-marker"></i> Справочник работ &raquo;
                            </button>
                        </td>
                    </tr>
                }


                @{string Stealth = "display: none";
                    if (Model.AOW != null && Model.AOW.Count > 0)
                    {
                        Stealth = "";
                    }
                }
                <tr id="AO_@Model.Id" class="AO_@Model.Id" style="@Stealth">
                    <th style="text-align:center">
                        Часть дома
                    </th>
                    <th width="300px" style="text-align:center">
                        Наименование работы
                    </th>


                    <th style="text-align:center" colspan="2">
                        Кол.План
                    </th>
                    <th style="text-align:center" colspan="2">
                        Кол.Факт
                    </th>
                    <th style="text-align:center">
                        Измерение
                    </th>
                    <th style="text-align:center">
                        Стоим.План
                    </th>
                    <th style="text-align:center">
                        Стоим.Факт
                    </th>
                    <th style="text-align:center">
                        Документ
                    </th>
                    <th style="text-align:center">
                        Статус
                    </th>
                    <th style="text-align:center">
                        Удалить
                    </th>
                </tr>

                @for (int i = 0; i < Model.AOW.Count; i++)
                {
                    string CS = "table-success";
                    if (@Model.AOW[i].Gotovo == false) { CS = ""; }
                    string WC = "btn btn-outline-danger";
                    string href = "";
                    string WCC = "Не выполнена";

                    bool Got = false;
                    if (Model.AOW[i].Gotovo)
                    {
                        WC = "btn btn-success";
                        href = "/Files/" + Model.Id + "/" + Model.AOW[i].Photo;
                        WCC = "Выполнена";
                        Got = true;
                    }
                    <tr id="AO_@Model.AOW[i].Id" class="@CS">
                        <td style="text-align:center">
                            @Model.AOW[i].OsmotrWork.DOMPart.Name
                        </td>
                        <td style="text-align:center">
                            @Model.AOW[i].OsmotrWork.Name
                        </td>


                        <td style="text-align:center" colspan="2">
                            @Model.AOW[i].Number
                        </td>
                        <td style="text-align:center" colspan="2">
                            @Model.AOW[i].FinalNumber
                        </td>
                        <td style="text-align:center">
                            @Model.AOW[i].OsmotrWork.Izmerenie.Name
                        </td>
                        <td style="text-align:center">
                            @Model.AOW[i].TotalCost
                        </td>
                        <td style="text-align:center">
                            @Model.AOW[i].FinalCost
                        </td>
                        <td style="text-align:center">
                            <a href="@href" id="ActAOW_@Model.AOW[i].Id" class="@WC">Акт</a>
                        </td>


                        @if ((User.Identity.Name.Contains("ПТО") || User.Identity.Name.Contains("ОЭЖФ") || User.IsInRole("Администратор") || User.Identity.Name.Contains("Голосований")))
                        {

                            if (@Model.AOW[i].Gotovo == false)
                            {
                                <td style="text-align:center">
                                    <button type="button" id="Gotovo_@Model.AOW[i].Id" ready="@Got" ADId="@Model.AOW[i].Id" onclick="Gotov('@Model.AOW[i].Id ','@Model.AOW[i].OsmotrWork.Name')" class="@WC">@WCC</button>

                                </td>

                            }
                            else
                            {
                                <td style="text-align:center">
                                    <button type="button" id="Gotovo_@Model.AOW[i].Id" ready="@Got" ADId="@Model.AOW[i].Id" onclick="Gotov('@Model.AOW[i].Id ','@Model.AOW[i].OsmotrWork.Name')" class="@WC">@WCC</button>

                                </td>
                            }
                        }
                        else
                        {


                            if (@Model.AOW[i].Gotovo == false)
                            {
                                <td style="text-align:center">
                                    <button type="button" id="Gotovo_@Model.AOW[i].Id" ready="@Got" ADId="@Model.AOW[i].Id" class="@WC">@WCC</button>

                                </td>

                            }
                            else
                            {
                                <td style="text-align:center">

                                    <button type="button" ADId="@Model.AOW[i].Id" class="btn btn-outline-success">Выполнена</button>
                                </td>
                            }
                        }

                        @if ((User.Identity.Name.Contains("ПТО") || User.Identity.Name.Contains("ОЭЖФ") || User.IsInRole("Администратор")))
                        {
                            <td style="text-align:center">

                                <button type="button" id="RemoveWork" ADId="@Model.AOW[i].Id" onclick="RemoveWork('@Model.AOW[i].Id','@Model.AOW[i].OsmotrWork.Name')" class="btn btn-outline-danger">Удалить</button>
                            </td>
                        }
                        else
                        {
                            <td style="text-align:center">
                                <button type="button" id="RemoveWork" ADId="@Model.AOW[i].Id" class="btn btn-outline-secondary">Удалить</button>
                            </td>
                        }
                    </tr>
                }
                <tr style="background-color:#ffd800">
                    <td colspan="12" height="6px"></td>
                </tr>
            </table>
        </div>
    }

    @if (Model.ORW != null && (User.Identity.Name.Contains("ПТО") || User.Identity.Name.Contains("Голосований") || User.Identity.Name.Contains("ОЭЖФ") || User.IsInRole("Администратор")))
    {<div class="container">

            <table id="RO" class="table-bordered table-striped">
                @if (!User.Identity.Name.Contains("Голосований") || User.IsInRole("Администратор"))
                {
                    <tr>
                        <td colspan="12">
                            @{
                                string works = "Добавить рекомендуемые работы"; string workscol = "btn btn-info";
                                if (Model.ORW.Count > 0) { works = "Добавить рекомендуемые работы"; workscol = "btn btn-info"; }
                            }
                            <button class="@workscol btn-block" onclick="OpenModal('AddNewRecommendWork')">@works</button>
                        </td>
                    </tr>

                }


                @{string Stealth = "display: none";
                    if (Model.ORW != null && Model.ORW.Count > 0)
                    {
                        Stealth = "";
                    }


                }
                <tr id="RO_@Model.Id" class="AO_@Model.Id" style="@Stealth">
                    <th style="text-align:center">
                        Часть дома
                    </th>
                    <th width="300px" style="text-align:center">
                        Наименование работы
                    </th>
                    <th style="text-align:center" colspan="2">
                        Кол.План
                    </th>
                    <th style="text-align:center" colspan="2">
                        Кол.Факт
                    </th>
                    <th style="text-align:center">
                        Измерение
                    </th>
                    <th style="text-align:center">
                        Стоим.План
                    </th>
                    <th style="text-align:center">
                        Стоим.Факт
                    </th>
                    <th style="text-align:center">
                        Документ
                    </th>
                    <th style="text-align:center">
                        Статус
                    </th>
                    <th style="text-align:center">
                        Удалить
                    </th>
                </tr>

                @for (int i = 0; i < Model.ORW.Count; i++)
                {
                    string CS = "";
                    string WC = "btn btn-outline-danger";
                    string WCC = "Не выполнена";
                    string href = "";
                    bool Got = false;
                    if (Model.ORW[i].Gotovo)
                    {
                        WC = "btn btn-success";
                        WCC = "Выполнена";
                        href = "/Files/" + Model.Id + "/" + Model.ORW[i].Photo;
                        Got = true;
                    }
                    if (@Model.ORW[i].Gotovo) { CS = " table-success"; }
                    <tr id="RO_@Model.ORW[i].Id" class="@CS">
                        <td style="text-align:center">
                            @Model.ORW[i].DOMPart.Name
                        </td>
                        <td width="300px" style="text-align:center">
                            @Model.ORW[i].Name
                        </td>
                        <td style="text-align:center" colspan="2">
                            @Model.ORW[i].Number
                        </td>
                        <td style="text-align:center" id="FinNumORW_@Model.ORW[i].Id" colspan="2">
                            @Model.ORW[i].FinalNumber
                        </td>
                        <td style="text-align:center">
                            @Model.ORW[i].Izmerenie.Name
                        </td>
                        <td style="text-align:center">
                            @Model.ORW[i].Cost
                        </td>
                        <td style="text-align:center" id="FinCostORW_@Model.ORW[i].Id">
                            @Model.ORW[i].FinalCost
                        </td>
                        <td style="text-align:center">
                            <a href="@href" id="ActORW_@Model.ORW[i].Id" class="@WC">Акт</a>
                        </td>
                        @if (User.Identity.Name.Contains("ПТО") || User.Identity.Name.Contains("ОЭЖФ") || User.IsInRole("Администратор"))
                        {


                            <td style="text-align:center">
                                <button type="button" id="GotovoORW_@Model.ORW[i].Id" ready="@Got" ADId="@Model.ORW[i].Id" onclick="GotovORW('@Model.ORW[i].Id ','@Model.ORW[i].Name')" class="@WC">@WCC</button>

                            </td>



                            <td style="text-align:center">

                                <button type="button" id="RemoveWork" ADId="@Model.ORW[i].Id" onclick="RemoveWorkORW('@Model.ORW[i].Id','@Model.ORW[i].Name')" class="btn btn-outline-danger">Удалить</button>
                            </td>
                        }


                    </tr>
                }
                <tr style="background-color:#00e6ca">
                    <td colspan="12" height="6px"></td>
                </tr>
            </table>

        </div>
    }



    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="container">
        <div class="form-horizontal">

            @{ int progress = 0;
                double pro100 = ViewBag.DOMParts.Count;
                int procount = 0;
            }
            @for (int j = 0; j < ViewBag.DOMParts.Count; j++)
            {

                if (Model.Elements.Count > 0)
                {

                    <div id="@j" class="row">
                        <div class="col-md-12" style="background-color:#28a745">
                            <table style="width:100%">
                                <tr>
                                    <td colspan="7" align="center">
                                        <h3 style="color:white"> @ViewBag.DOMParts[j] </h3>
                                    </td>
                                </tr>
                                <tr style="background-color:#28a745 ; color:white" class="table-bordered">
                                    <th width="230px" style="text-align:center">

                                        Элемент
                                    </th>


                                    <th width="185px" style="text-align:center">
                                        Фото
                                    </th>

                                    <th width="95px" style="text-align:center">
                                        Материал
                                    </th>
                                    <th width="90px" style="text-align:center">
                                        Количество
                                    </th>
                                    <th width="50px" style="text-align:center">
                                        Ед.Изм.
                                    </th>

                                    <th width="230px" style="text-align:center">
                                        Состояние элемента
                                    </th>


                                    <th width="150px" style="text-align:center">
                                        Дефекты
                                    </th>
                                </tr>

                            </table>

                        </div>


                        <div class="col-md-12">



                            @for (int i = 0; i < Model.Elements.Count; i++)
                            {
                                if (Model.Elements[i].Element.ElementTypeId == (j + 1))
                                {

                                    string Part = "Partial" + Model.Elements[i].Id.ToString();

                                    @Html.Action("ViewActiveDefectReadOnly", "Osmotrs", new { ElementId = Model.Elements[i].ElementId, OsmotrId = Model.Id, AdresId = Model.AdresId, Date = Model.Date })
                                }
                            }


                        </div>

                    </div>
                }

                <div class="row col-md-12">
                    <p> </p>
                </div>

                procount++;
                progress = Convert.ToInt16(procount / pro100 * 100);
                ProgressHub.SendMessage("Загружаем данные элементов...", progress);
                if (procount > pro100) { procount = Convert.ToInt32(pro100); }
            }
            <div class="col-md-12">
                <table style="width:100%" class="table-bordered table-striped">
                    <tr>
                        <td colspan="7" align="center" style="background-color:#28a745">
                            <h3 style="color:white"> Работы по непредвиденному неотложному ремонту </h3>
                        </td>
                    </tr>
                    <tr style="background-color:#28a745 ; color:white" class="table-bordered">
                        <th width="230px" style="text-align:center">
                            Наименование работы
                        </th>
                        <th width="50px" style="text-align:center">
                            Ед.Изм.
                        </th>
                        <th width="90px" style="text-align:center">
                            Количество
                        </th>

                        <th width="95px" style="text-align:center">
                            Сумма
                        </th>
                    </tr>
                    @for (int z = 0; z < Model.AOW.Count; z++)
                    {
                        <tr>
                            <td width="230px" style="text-align:center">
                                @Model.AOW[z].OsmotrWork.Name
                            </td>
                            <td width="50px" style="text-align:center">
                                @Model.AOW[z].OsmotrWork.Izmerenie.Name
                            </td>
                            <td width="90px" style="text-align:center">
                                @Model.AOW[z].Number
                            </td>

                            <td width="95px" style="text-align:center">
                                @Model.AOW[z].TotalCost
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
    @if (User.Identity.Name.Contains("ОЭЖФ") || User.IsInRole("Администратор"))
    {

        <H3>Оценка осмотра ОЭЖФ</H3>

        <table>
            <tr>
                <td width="80%">
                    <input class="form-control btn-block" id="Primechanie" placeholder="Здесь вы можете добавить свои комментарии к осмотру." value="@Model.Opisanie" />
                </td>
                <td width="50%">
                    <button class="btn btn-success btn-block" id="PrimechanieSave" onclick="PS(@Model.Id)">Сохранить примечание</button>
                </td>
            </tr>
        </table>




        if (Model.Sostoyanie == 1)
        {
            <button class=" btn btn-success" onclick="Proverka1('@Model.Id')">Проверка пройдена</button>
        }

        <button class=" btn btn-warning" onclick="Peredelat('@Model.Id')">Переделать</button>
        // <button class=" btn btn-warning" onclick="ForAllInGEU('@Model.Id')">Освободтьб ЖЭУ</button>

        <button class=" btn btn-danger" type="button" source="Удалить" readonly onclick="Delete('@Model.Id')">Удалить </button>






    }
    @if (User.Identity.Name.Contains("ПТО") || User.Identity.Name.Contains("Голосований") || User.IsInRole("Администратор"))
    {


        <H3>Оценка осмотра @User.Identity.Name</H3>
        <table>
            <tr>
                <td width="80%">
                    <input class="form-control btn-block" id="Primechanie" placeholder="Здесь вы можете добавить свои комментарии к осмотру." value="@Model.Opisanie" />
                </td>
                <td width="50%">
                    <button class="btn btn-success btn-block" id="PrimechanieSave" onclick="PS(@Model.Id)">Сохранить примечание</button>
                </td>
            </tr>
        </table>



        if (Model.Sostoyanie == 3 && (User.Identity.Name.Contains("Голосований") || User.IsInRole("Администратор")))
        {
            <button class=" btn btn-success" onclick="Proverka3('@Model.Id')">Завершить голосование.</button>
        }
        if (Model.Sostoyanie == 2 && User.Identity.Name.Contains("ПТО") || User.IsInRole("Администратор"))
        {
            <button class=" btn btn-success" onclick="Proverka2('@Model.Id')">Проверка пройдена</button>
            <button class=" btn btn-warning" onclick="Peredelat2('@Model.Id')">Переделать</button>
        }
        // <button class=" btn btn-warning" onclick="ForAllInGEU('@Model.Id')">Освободтьб ЖЭУ</button>
        if (Model.Sostoyanie < 2)
        {


            <button class=" btn btn-danger" type="button" source="Удалить" readonly onclick="Delete('@Model.Id')">Удалить </button>
        }





    }
    <H4>Редактирование осмотра завершено @Model.DateEnd.ToString("MM.dd.yyyy")</H4>
    <H5>Конец осмотра</H5>

    <div>

    </div>

    <div class="modal fade" id="CloseWorkORW" tabindex="-1" role="dialog" aria-labelledby="AddAvtoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content col-12">
                <div class="modal-header">
                    <h3 class="modal-title" id="AddAvtoModalLabel">Завершить рекомендованную работу</h3>

                </div>
                <div class="modal-body">


                    <div class="col-6">
                        Осмотр#
                    </div>
                    <div class="col-6">
                        <input readonly id="OsmotrIdORW" value="@Model.Id" class="form-control" />
                    </div>
                    <div class="col-6">
                        Работа#
                    </div>
                    <div class="col-6">
                        <input readonly id="RabotaIdORW" value="" class="form-control" />
                    </div>
                    <div class="col-6">
                        Наименование
                    </div>
                    <div class="col-6">
                        <input readonly id="RabotaNameORW" value="" class="form-control" />
                    </div>
                    <div class="col-6">
                        Загрузите акт в формате pdf
                    </div>
                    <div class="col-6">

                        <input type="file" name="LoadPDFORW" id="LoadPDFORW" class="form-control" />
                    </div>
                    <div class="col-6">
                        Количество факт
                    </div>
                    <div class="col-6">
                        <input type="number" name="NumberFactORW" id="NumberFactORW" step="0.1" class="form-control" />
                    </div>
                    <div class="col-6">
                        Стоимость факт
                    </div>
                    <div class="col-6">
                        <input type="number" name="StoimostFactORW" id="StoimostFactORW" step="0.1" class="form-control" />
                    </div>


                    <div class="col-6" style="margin:10px">
                        <button id="CloseWorkSubmitORW" onclick="CloseWorkSubmitORW()" class="btn btn-success col-5">Выполнена</button>
                        <button id="ReOpenWorkSubmitORW" onclick="ReOpenWorkSubmitORW()" class="btn btn-danger col-5">Не выполнена</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="CloseWork" tabindex="-1" role="dialog" aria-labelledby="AddAvtoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content col-12">
                <div class="modal-header">
                    <h3 class="modal-title" id="AddAvtoModalLabel">Завершить работу</h3>

                </div>
                <div class="modal-body">


                    <div class="col-6">
                        Осмотр#
                    </div>
                    <div class="col-6">
                        <input readonly id="OsmotrId" value="@Model.Id" class="form-control" />
                    </div>
                    <div class="col-6">
                        Работа#
                    </div>
                    <div class="col-6">
                        <input readonly id="RabotaId" value="" class="form-control" />
                    </div>
                    <div class="col-6">
                        Наименование
                    </div>
                    <div class="col-6">
                        <input readonly id="RabotaName" value="" class="form-control" />
                    </div>
                    <div class="col-6">
                        Загрузите акт в формате pdf
                    </div>
                    <div class="col-6">

                        <input type="file" name="LoadPDF" id="LoadPDF" class="form-control" />
                    </div>
                    <div class="col-6">
                        Количество факт
                    </div>
                    <div class="col-6">
                        <input type="number" name="NumberFact" id="NumberFact" step="0.1" class="form-control" />
                    </div>
                    <div class="col-6">
                        Стоимость факт
                    </div>
                    <div class="col-6">
                        <input type="number" name="StoimostFact" id="StoimostFact" step="0.1" class="form-control" />
                    </div>


                    <div class="col-6" style="margin:10px">
                        <button id="CloseWorkSubmit" onclick="CloseWorkSubmit()" class="btn btn-success col-5">Выполнена</button>
                        <button id="ReOpenWorkSubmit" onclick="ReOpenWorkSubmit()" class="btn btn-danger col-5">Не выполнена</button>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="AddNewActiveWork" tabindex="-1" role="dialog" aria-labelledby="AddAvtoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content col-12">
                <div class="modal-header">
                    <h3 class="modal-title" id="AddAvtoModalLabel">Добавить необходимую работу</h3>

                </div>
                <div class="modal-body">
                    @{ string X = "OW"; string Y = "N"; string Z = "OSMOTR"; }

                    <div class="col-6">
                        Осмотр#
                    </div>
                    <div class="col-6">
                        <input readonly id="@Z" value="@Model.Id" class="form-control" />
                    </div>
                    <div class="col-6">
                        Выберите работу
                    </div>
                    <div class="col-6">

                        @Html.DropDownList(X, new SelectList(ViewBag.OW, "value", "text"), new { @class = "form-control" })
                    </div>
                    <div class="col-6">
                        Количество
                    </div>
                    <div class="col-6">
                        @Html.Editor(Y, new { htmlAttributes = new { @class = "form-control" } })
                    </div>


                    <div class="col-6" style="margin:10px">
                        <button id="AddWorkSubmit" onclick="AddWork(@Model.Id)" class="btn btn-success btn-block">Сохранить</button>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="AddNewRecommendWork" tabindex="-1" role="dialog" aria-labelledby="AddAvtoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content col-12">
                <div class="modal-header">
                    <h3 class="modal-title" id="AddAvtoModalLabel">Добавить рекомендуемую работу</h3>

                </div>
                <div class="modal-body">


                    <div class="col-6">
                        Осмотр#
                    </div>
                    <div class="col-6">
                        <input readonly id="ROsmotr" value="@Model.Id" class="form-control" />
                    </div>
                    <div class="col-6">
                        Выберите часть дома
                    </div>
                    <div class="col-6">

                        @Html.DropDownList("RDOMPart", new SelectList(ViewBag.ALLParts, "value", "text"), new { @class = "form-control" })
                    </div>
                    <div class="col-6">
                        Название работы
                    </div>
                    <div class="col-6">
                        <input class="form-control" id="RName" placeholder="Введите название работы" />

                    </div>
                    <div class="col-6">
                        Количество
                    </div>
                    <div class="col-6">
                        @Html.Editor("RNumber", new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-6">
                        Измерение
                    </div>
                    <div class="col-6">
                        @Html.DropDownList("RIzmerenie", new SelectList(ViewBag.Izmerenies, "value", "text"), new { @class = "form-control" })
                    </div>
                    <div class="col-6">
                        Стоимость по смете
                    </div>
                    <div class="col-6">
                        @Html.Editor("RCost", new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="col-6" style="margin:10px">
                        <button id="AddWorkSubmit" onclick="AddRecommendWork(@Model.Id)" class="btn btn-success btn-block">Сохранить</button>
                    </div>


                </div>
            </div>
        </div>
    </div>

</body>


</html>




@section Scripts{

    @Scripts.Render("~/scripts/jquery-ui-1.12.1.min.js")
    @Scripts.Render("~/scripts/nprogress.min.js")
    @Scripts.Render("~/scripts/jquery.signalR-2.4.0.js")
    @Scripts.Render("~/signalr/hubs")

    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/scripts/bootstrap.js")
    @Scripts.Render("~/scripts/bootstrap.bundle.js")
    @Scripts.Render("https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")
    @Scripts.Render("~/scripts/jquery.rating/js/jquery.rating-2.0.js")
    @Scripts.Render("~/scripts/jquery.rating/js/jquery.rating-2.0Red.js")


    <link href="/scripts/jquery.rating/styles/jquery.rating.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script>
        function PS(id)
        {
           var PRIM =  $('#Primechanie').val();
              $.post('@Url.Action("SavePrimechanie", "Osmotrs")', { id: id,text:PRIM},
                 function (data) {
                     console.log('Контроллер вернул данные ' + data);
                            var S = data.split(';');
                     if (S[0] != 'Ошибка') {
                                console.log('Примечание сохранено' );
                            }
                            else {
                                alert('Ошибка сохранения файла. '+S[1]);
                            }
                            // $('body').append('<ul><li>Java</li><li>JavaScript</li></ul>');
                        });
        }
    </script>
    <script>
        $(function () {
            var PB = $.connection.progressHub;
            console.log("Loading...");
            PB.client.sendMessage = function (message, count) {
                // update progress
                console.log(count);
                UpdateProgress(message, count);
                //alert(message);
            };

            $.connection.hub.start().done(function () {
                console.log("Приконнектились");
                // call the method CallLongOperation defined in the Hub
                PB.server.getCountAndMessage();
                //$("#progressBar").hide();



            });


            // Update the progress bar
            function UpdateProgress(message, count) {
                // $("#progressBar").fadeIn("slow");
                var result = $("#result");
                if (count >= 100) { $("#X").click(); }
                result.html(message);

                //$("#progressBar").data("progressbar").value(count);

                $("#progressBar").attr("aria-valuenow", count);
                $("#progressBar").width(count + '%');
                $("#progressBar").text(count + '%');
                $("#nadpis").text(message);
                // $("#progressBar").css("width", count);
            }
        });
    </script>

    <script>
        //изменение размеров текстового поля при фокусе
        $(function () {
            $("input").focus(function () {
                if ($(this).attr("name") != "Photo") {
                    $(this).animate({ width: "500px" }, 500);
                } else {
                    $(this).animate({ width: "250px" }, 500);
                }
            }).blur(function () {
                if ($(this).attr("name") != "Photo") {
                    $(this).animate({ width: "230px" }, 500);
                }
                else {
                    $(this).animate({ width: "50px" }, 500);
                }

            });



        });
    </script>
    <script>



        $('button').on('click', function ()
        {
            var _this = $(this);
            var Id = _this.attr('id');
            var Element = _this.attr("MElement");
            var Defect = $("#D" + Element).val();
            var Opisanie = $("#O" + Element).val();
            var Sostoyanie = $("#S" + Element).val();
            var Photo1 = $("#P1" + Element).val();
            var Photo2 = $("#P2" + Element).val();

            //var Number = $("#N" + Element).val();
            if (Id=='AddDefect')
            {
                console.log('Была нажата кнопка' + Element);
                console.log('Нашли вот такие данные Defect=' + Defect + 'Opisanie=' + Opisanie + 'Sostoyanie=' + Sostoyanie);
                var AddDiv = $('table#' + Element);
                $.post('@Url.Action("AddAD", "Osmotrs")', { DefectId: Defect, Opisanie: Opisanie, Sostoyanie: Sostoyanie, ElementId: Element, Photo1:Photo1,Photo2:Photo2 },
                    function (data) {
                        var S = data.split(';');
                        if (S[0] != 'Ошибка') {
                            AddDiv.append('<tr id=' + S[4] + ' style="text-align:center">' + '<td>' + S[0] + '</td>' + '<td><a data-fancybox="gallery" href="/Files/' + S[7] + '/' + S[5] + '"><img src = "/Files/' + S[7] + '/' + S[5] + '" class= "img-responsive " width="32Px" height="32Px"></a></td ><td><a data-fancybox="gallery" href="/Files/' + S[7] + '/' + S[6] + '"><img src = "/Files/' + S[7] + '/' + S[6] + '" class= "img-responsive"  width="32Px" height="32Px"></a></td><td><div class="ratingnew"><input type="hidden" name="val"  value="' + S[1] + '" /></div></td>' +'<td>' + S[2] + '</td>'+
                                '<td><button type="button" id="RemoveDefect" ADId="' + S[4] + '" class="btn btn-outline-danger rem">Удалить дефект</button></td>' + '</tr>'
                            );
                            $('div.ratingnew').red({
                                fx: 'full',
                                readOnly: 'true'
                            });
                            $('#' + S[4]).hide().fadeIn("slow");//появляем медленно строку
                            console.log('Добавили в таблицу строку' + Element);
                        }
                        else
                        {
                            Alert('Ошибка сохранения файла. Попробуйте выбрать другой файл. Принимаются только картинки .jpg или .png');
                        }
                        // $('body').append('<ul><li>Java</li><li>JavaScript</li></ul>');



                    });
            }

        });




    </script>
    <script>
        $(document).on('click', '#SaveElement', function (e)
        {
            console.log("Нажата кнопка сохранить элемент");
            var _this = $(this);
            var Id = _this.attr('MId');
            var OsmotrId = _this.attr('MOsmotr');
            console.log('Нажата кнопка сохранить активный элемент. Начинаем сохранение.' + Id);
            var MElementId = _this.attr('MElement');
            var Photo1 = $('#PhotoElement1' + MElementId).val();
            var Photo2 = $('#PhotoElement2' + MElementId).val();
            var Sostoyanie = $('#SostoyanieElement' + MElementId).val();
            console.log('Начинаем действие.' + Id + ' Photo1=' + Photo1 + ' Photo2=' + Photo2 );
                $.post('@Url.Action("SaveElement", "Osmotrs")', { Id: Id, Photo1: Photo1, Photo2: Photo2, Sostoyanie:Sostoyanie},
                    function (data)
                    {
                        var S = data.split(';');
                        if (S[0] != 'Ошибка'&&S[0]!='') {


                                console.log('Данные сохранены' + MElementId);
                            $('#PhotoElement1' + MElementId).replaceWith(' <a data-fancybox="gallery" href="/Files/' + OsmotrId + '/' + S[0] + '" id= "PED1' + MElementId+'"><img src=" /Files/' + OsmotrId + '/' + S[0] + '" id = "PhotoElement1' + MElementId +'" class= "img - responsive" height = "32" width = "32" onerror = "this.style.display = "none"" ></a> ');
                            $('#PhotoElement2' + MElementId).replaceWith(' <a data-fancybox="gallery" href="/Files/' + OsmotrId + '/' + S[1] + '" id= "PED2' + MElementId+'"><img src="/Files/' + OsmotrId + '/' + S[1] + '" id = "PhotoElement2' + MElementId +'" class= "img-responsive" height = "32" width = "32" onerror = "this.style.display = "none"" ></a> ');
                            $('#DivSost' + MElementId).replaceWith('<div class="rating" id="DivSost' + MElementId+'"> <input id=SostoyanieElement"' + MElementId + '" type="hidden" name="val" value="' + S[2] + '" /> </div> ');
                            $('div.rating').rating({
                                fx: 'full',
                                readOnly: 'true'
                            });


                            _this.replaceWith('<button type="button" id="EditElement" MId="' + Id + '" MElement="' + MElementId + '" MOsmotr="' + OsmotrId + '" class="btn btn-outline-success go">Изменить элемент </button>');

                        }
                        else
                        {
                            console.log(data);
                        }

                    });
        });
    </script>

    <script>
        $(document).on('click', '#EditElement', function (e) {
            console.log("Нажата кнопка изменить элемент");
            var _this = $(this);
            var Id = _this.attr('MId');
            var OsmotrId = _this.attr('MOsmotr');
            console.log('Нажата кнопка изменить активный элемент. Начинаем сохранение.' + Id);
            var MElementId = _this.attr('MElement');
            var Photo1 = $('#PhotoElement1' + MElementId).val();
            var Photo2 = $('#PhotoElement2' + MElementId).val();
            var Sostoyanie = $('#SostoyanieElement' + MElementId).val();
            console.log('Возвращаем строку для редактирования.' + Id + ' Photo1=' + Photo1 + ' Photo2=' + Photo2);
            $('#PED1' + MElementId).replaceWith(' <input type="file" name="Photo" onchange="InputChange(this)" id="PhotoElement1' + MElementId + '" class="form-control-file" /> ');//заменяем блоки галереи инпутом
            $('#PED2' + MElementId).replaceWith(' <input type="file" name="Photo" onchange="InputChange(this)" id="PhotoElement2' + MElementId + '" class="form-control-file" /> ');
            $('#PhotoElement1' + MElementId).replaceWith(' <input type="file" name="Photo" onchange="InputChange(this)" id="PhotoElement1' + MElementId + '" class="form-control-file" /> ');//если нет блоков галереи то просто заменяем инпут инпутом
            $('#PhotoElement2' + MElementId).replaceWith(' <input type="file" name="Photo" onchange="InputChange(this)" id="PhotoElement2' + MElementId + '" class="form-control-file" /> ');
            $('#DivSost' + MElementId).replaceWith('<div class="ratingElement" id="DivSost' + MElementId +'> <input id="SostoyanieElement' + MElementId + '" type="number" name="val" value="10" /> <input type="hidden" name="vote-id" value="SostoyanieElement' + MElementId + '" /> </div>');
             $('div.ratingElement').rating({
                 fx: 'full',
            url:'@Url.Action("Zvezda", "Osmotrs")'
            });

            _this.replaceWith('<button type="button" id="SaveElement" MId="' + Id + '" MElement="' + MElementId + '" MOsmotr="' + OsmotrId + '" class="btn btn-success go">Сохранить элемент </button>');




        });
    </script>


    <script>
        $(document).on('click', '#RemoveDefect', function (e)
        {
            console.log("Нажата кнопка удалить!");
            var _this = $(this);
            var Id = _this.attr('id');
            console.log('Нажата кнопка удалить активный дефект. Начинаем удаление.' + Id);
                var ADId = _this.attr('ADId');
                var TR = $('#' + ADId);
                $.post('@Url.Action("RemoveAD", "Osmotrs")', { ADId: ADId },
                    function (data)
                    {
                        if (data == '') {
                            TR.fadeOut('slow', function () { TR.remove(); });
                           // TR.fadeOut('slow').remove();
                            console.log('Данные удалены, строка почищена' + ADId);
                        }
                        else
                        {
                            console.log(data);
                        }

                    });
        });
    </script>
    <script>
         function InputChange(e)
        {
             console.log("Нажата кнопка фото!");
             console.log("Объект "+e);
            var _this = $(e);
            var Id = _this.attr('id');
            var Name = _this.attr('name');
            if (Name == 'Photo') {
                console.log('Нажата кнопка добавить фото.' + Id);
               // e.preventDefault();
                var files = $(e)[0].files;
                console.log('Файлы.' + files);
                if (files.length > 0) {
                    if (window.FormData !== undefined) {
                        var data = new FormData();

                        for (var x = 0; x < files.length; x++) {
                            data.append("file" + x, files[x]);
                        }


                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("Upload", "Osmotrs")',
                            contentType: false,
                            processData: false,
                            data: data,
                            success: function (result) {
                                $('.toast').toast('show');


                            },
                            error: function (xhr, status, p3) {

                                alert(xhr.responseText);
                            }
                        });
                    } else {
                        alert("Браузер не поддерживает загрузку файлов HTML5!");
                    }
                }


            }

        }
    </script>
    <script>
        //Загрузка файлов (клик на картинке)
        $('input').on('change', InputChange());
    </script>
    <script>
        //рейтинг в звездах
        $('div.rating').rating({
            fx: 'full',
            readOnly: 'true'
        });

    </script>
    <script>
        //рейтинг в звездах
        $('div.ratingElement').rating({

            fx: 'full',
            url:'@Url.Action("Zvezda", "Osmotrs")'
        });

    </script>
    <script>
        //рейтинг в звездах
        $('div.ratingElementRed').red({

            fx: 'full',
            url:'@Url.Action("ZvezdaRed", "Osmotrs")'
        });

    </script>
    <script>
        //рейтинг в звездах
        $('div.ratingRed').red({
            fx: 'full',
            readOnly: 'true'
        });

    </script>
    <script>
     function Delete(id)
     {

                var GO = confirm('Вы действительно хотите удалить осмотр? Это действие нельзя будет отменить! ')
                if (GO) {
                    $.post('@Url.Action("DeleteOsmotr", "Osmotrs")', { OsmotrId: id },
                        function (data) {
                            if (data != null) {
                                 var url = "@Url.Action("OsmotrsProverka1", "Houses")";
                                alert('Осмотр успешно удален!');
                                $('#wrap_preloader').fadeIn(500);
                                window.location.replace(url);

                                }
                        });
                }
            }
    </script>

    <script>
        function UploadPDF(e) {
          var files = $(e)[0].files;
                console.log('Файлы.' + files);
                if (files.length > 0) {
                    if (window.FormData !== undefined) {
                        var data = new FormData();

                        for (var x = 0; x < files.length; x++) {
                            data.append("file" + x, files[x]);
                        }


                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("Upload", "Osmotrs")',
                            contentType: false,
                            processData: false,
                            data: data,
                            success: function (result) {
                                $('.toast').toast('show');


                            },
                            error: function (xhr, status, p3) {

                                alert(xhr.responseText);
                            }
                        });
                    } else {
                        alert("Браузер не поддерживает загрузку файлов HTML5!");
                    }
                }
        }
    </script>
    <script>
     function Proverka1(id)
     {

                var GO = confirm('Вы уверены в правильности данных? Осмотр будет передан в плановый отдел, а ЖЭУ увидит, что осмотр принят! ')
                if (GO) {
                    $.post('@Url.Action("Proverka1", "Osmotrs")', { OsmotrId: id },
                        function (data) {
                            if (data != null) {
                                 var url = "@Url.Action("OsmotrsProverka1", "Houses")";
                                alert('Осмотр успешно передан в плановый отдел! ');
                                $('#wrap_preloader').fadeIn(500);
                                window.location.replace(url);

                                }
                        });
                }
            }
    </script>
    <script>
     function Proverka2(id)
     {

                var GO = confirm('Вы уверены в правильности данных? Осмотр будет передан на голосование! ')
                if (GO) {
                    $.post('@Url.Action("Proverka2", "Osmotrs")', { OsmotrId: id },
                        function (data) {
                            if (data != null) {
                                 var url = "@Url.Action("OsmotrsProverka2", "Houses")";
                                alert('Осмотр успешно передан в отдел голосований! ');
                                $('#wrap_preloader').fadeIn(500);
                                window.location.replace(url);

                                }
                        });
                }
            }
    </script>
    <script>
     function Proverka3(id)
     {

                var GO = confirm('Вы уверены, что все отголосованные работы правильно отмечены? Осмотр больше не будет доступен для редактирования!   ')
                if (GO) {
                    $.post('@Url.Action("Proverka3", "Osmotrs")', { OsmotrId: id },
                        function (data) {
                            if (data != null) {
                                 var url = "@Url.Action("OsmotrsProverka3", "Houses")";
                                alert('Осмотр успешно завершен! ');
                                $('#wrap_preloader').fadeIn(500);
                                window.location.replace(url);

                                }
                        });
                }
            }
    </script>
    <script>
    function ForAllInGEU()
    {

    var GO = confirm('Очистим состояние ЖЭУ5! ')
    if (GO) {
    $.post('@Url.Action("ForAllInGEU", "Osmotrs")',
    function (data) {
    if (data != null) {
    var url = "@Url.Action("OsmotrsProverka1", "Houses")";
    alert('Обработан! ');
    $('#wrap_preloader').fadeIn(500);
    window.location.replace(url);

    }
    });
    }
    }
    </script>
    <script>
     function Peredelat(id)
     {

                var GO = confirm('Вы уверены что данные неверны? ЖЭУ получит возможность редактирования данного осмотра и не сможет создать новый, пока этот не завершит! ')
                if (GO) {
                    $.post('@Url.Action("Peredelat", "Osmotrs")', { OsmotrId: id },
                        function (data) {
                            if (data != null) {
                                 var url = "@Url.Action("OsmotrsProverka1", "Houses")";
                                alert('Осмотр возвращен в ЖЭУ для редактирования. Сообщите замечания по осмотру в ЖЭУ лично! ');
                                $('#wrap_preloader').fadeIn(500);
                                window.location.replace(url);

                                }
                        });
                }
            }
    </script>
    <script>
        function OpenModal(id) {
            $('#' + id).modal('show');
        }
    </script>
    <script>
     function Peredelat2(id)
     {

                var GO = confirm('Вы уверены что данные неверны? ОЭЖФ получит возможность редактирования данного осмотра! ')
                if (GO) {
                    $.post('@Url.Action("Peredelat2", "Osmotrs")', { OsmotrId: id },
                        function (data) {
                            if (data != null) {
                                 var url = "@Url.Action("OsmotrsProverka1", "Houses")";
                                alert('Осмотр возвращен в ОЭЖФ для редактирования. Сообщите замечания по осмотру в ОЭЖФ лично! ');
                                $('#wrap_preloader').fadeIn(500);
                                window.location.replace(url);

                                }
                        });
                }
            }
    </script>
    <script>
        function RemoveWork(id,name)
        {
            var GO = confirm('Вы уверены, что хотите удалить работу ' + name + ' ?')
            if (GO) {
                $.post('@Url.Action("RemoveWork", "Osmotrs")', { id: id },
                    function (data) {
                        console.log('Контроллер вернул данные ' + data);
                        var S = data.split(';');
                        if (S[0] != 'Ошибка') {
                            $("#AO_" + id).remove();
                            console.log('Удалили строку в таблице');
                        }
                        else {
                            alert('Ошибка сохранения файла. ' + S[1]);
                        }
                        // $('body').append('<ul><li>Java</li><li>JavaScript</li></ul>');



                    });
            }

        }
    </script>
    <script>
        function RemoveWorkORW(id,name)
        {
            var GO = confirm('Вы уверены, что хотите удалить работу ' + name + ' ?')
            if (GO) {
                $.post('@Url.Action("RemoveWorkORW", "Osmotrs")', { id: id },
                    function (data) {
                        console.log('Контроллер вернул данные ' + data);
                        var S = data.split(';');
                        if (S[0] != 'Ошибка') {
                            $("#RO_" + id).remove();
                            console.log('Удалили строку в таблице');
                        }
                        else {
                            alert('Ошибка сохранения файла. ' + S[1]);
                        }
                        // $('body').append('<ul><li>Java</li><li>JavaScript</li></ul>');



                    });
            }

        }
    </script>
    <script>
        function Gotov(id, name) {
            //  var gotov = $("#Gotovo_" + id).attr('ready');
            var CW = $('#CloseWork');
            $('#RabotaId').val(id);
            $('#RabotaName').val(name);
            $('#LoadPDF')[0].files = null;
            $('#NumberFact').val('0');
            $('#StoimostFact').val('0');

            CW.modal('show');



        }
    </script>
    <script>
        function GotovORW(id, name) {

            //  var gotov = $("#Gotovo_" + id).attr('ready');
            var CW = $('#CloseWorkORW');
            $('#RabotaIdORW').val(id);
            $('#RabotaNameORW').val(name);
            $('#LoadPDFORW')[0].files = null;
            $('#NumberFactORW').val('0');
            $('#StoimostFactORW').val('0');

            CW.modal('show');



        }
    </script>
    <script>
        function CloseWorkSubmitORW()
        {
            var CW = $('#CloseWorkORW');
            var Rabota = $('#RabotaIdORW').val();
            var id = Rabota;
            var Osmotr = $('#OsmotrIdORW').val();
            var Number = $('#NumberFactORW').val();
            var Stoimost = $('#StoimostFactORW').val();
            var FinNum = $('#FinNumORW_'+id);
            var FinCost = $('#FinCostORW_'+id);
            var e = $('#LoadPDFORW');
            var filename = "";
            var files = $(e)[0].files;
                console.log('Файлы.' + files);
            if (files.length > 0) {
               // alert('файлы есть');//Грузим файлы если есть
                    if (window.FormData !== undefined) {
                        var data = new FormData();

                        for (var x = 0; x < files.length; x++) {
                            data.append("file" + x, files[x]);
                        }


                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("UploadPDF", "Osmotrs")',
                            contentType: false,
                            processData: false,
                            data: data,
                            success: function (result) {
                                console.log('file is added to server'+result);
                                if (result != "") {
                                    console.log('result is' + result);
                                    $('.toast').toast('show');
                                    filename = result;
                                    console.log('filename is' + filename);
                                    alert("WorkId: "+Rabota+", OsmotrId:"+ Osmotr+", FinalNumber:"+ Number+", FinalStoimost:"+ Stoimost+", Filename:"+ filename);
                                    //теперь заполняем работу до конца int WorkId, int OsmotrId, decimal FinalNumber, decimal FinalStoimost, string Filename
                                         $.post('@Url.Action("GotovoORW", "Osmotrs")', { WorkId: Rabota, OsmotrId: Osmotr, FinalNumber: Number, FinalStoimost: Stoimost, Filename: filename },
                    function (data) {
                      //  alert(data);
                        console.log('Контроллер вернул данные ' + data);
                        var S = data.split(';');
                        var CW = $('#CloseWork');
                        CW.modal('hide');
                        if (S[0] != 'Ошибка') {
                            if (S[0] == 'Готово') {
                                $('#CloseWorkORW').modal('hide');
                                $("#GotovoORW_" + id).removeClass("btn btn-outline-danger");
                                $("#GotovoORW_" + id).addClass("btn btn-success");
                                $("#GotovoORW_" + id).text("Выполнена");
                                $("#GotovoORW_" + id).attr('ready', 'true');
                                $("#ActORW_" + id).attr('href', '/Files/' + Osmotr + '/' + filename);
                                $("#ActORW_" + id).addClass("btn-success");
                                $("#ActORW_" + id).removeClass("btn-outline-danger");
                                FinNum.html(Number);
                                FinCost.html(Stoimost);

                                $("#RO_" + id).addClass('table-success');
                                console.log('Кнопка стала заленой');
                                
                            }
                            else {
                                $("#GotovoORW_" + id).removeClass("btn btn-success");
                                $("#GotovoORW_" + id).addClass("btn btn-outline-danger");
                                $("#GotovoORW_" + id).text("Выполнена");
                                $("#GotovoORW_" + id).attr('ready', 'true');
                                $("#ActORW_" + id).attr('href', '/Files/' + Osmotr + '/' + filename);
                                $("#ActORW_" + id).addClass("btn-outline-danger");
                                $("#ActORW_" + id).removeClass("btn-success");

                                $("#RO_" + id).addClass('table-danger');
                                console.log('Кнопка стала красной');
                                $('#CloseWorkORW').modal('hide');
                            }
                        }
                        else {
                            alert('Ошибка сохранения файла. ' + S[1]);
                        }

                        // $('body').append('<ul><li>Java</li><li>JavaScript</li></ul>');



                    });

                                }


                            },
                            error: function (xhr, status, p3) {

                                alert(xhr.responseText);
                            }
                        });
                    } else {
                        alert("Браузер не поддерживает загрузку файлов HTML5!");
                    }
            }






        }
    </script>
    <script>
        function ReOpenWorkSubmitORW()
        {
            var CW = $('#CloseWork');
            var Rabota = $('#RabotaIdORW').val();
            var id = Rabota;
            var Osmotr = $('#OsmotrIdORW').val();



                                    //теперь заполняем работу до конца
                   $.post('@Url.Action("NeGotovoORW", "Osmotrs")', { WorkId: Rabota},
                    function (data) {
                       // alert(data);
                        console.log('Контроллер вернул данные ' + data);
                        var S = data.split(';');
                        var CW = $('#CloseWork');
                        CW.modal('hide');
                        if (S[0] != 'Ошибка') {
                            if (S[0] == 'НеГотово') {
                                $('#CloseWorkORW').modal('hide');
                                $("#GotovoORW_" + id).removeClass("btn btn-success");
                                $("#GotovoORW_" + id).addClass("btn btn-outline-danger");
                                $("#GotovoORW_" + id).text("Не выполнена");
                                $("#GotovoORW_" + id).attr('ready', 'false');
                                $("#ActORW_" + id).attr('href', '');
                                $("#ActORW_" + id).removeClass("btn-success");
                                $("#ActORW_" + id).addClass("btn-outline-danger");
                                $("#RO_" + id).removeClass('table-success');
                                console.log('Кнопка стала красной');
                            }


                        }
                        else {
                            alert('Ошибка сохранения файла. ' + S[1]);
                        }
                        // $('body').append('<ul><li>Java</li><li>JavaScript</li></ul>');
                    });
        }
    </script>
    <script>
        function CloseWorkSubmit()
        {
            var CW = $('#CloseWork');
            var Rabota = $('#RabotaId').val();
            var id = Rabota;
            var Osmotr = $('#OsmotrId').val();
            var Number = $('#NumberFact').val();
            var Stoimost = $('#StoimostFact').val();
            var e = $('#LoadPDF');
            var filename = "";
            var files = $(e)[0].files;
                console.log('Файлы.' + files);
            if (files.length > 0) {
               // alert('файлы есть');//Грузим файлы если есть
                    if (window.FormData !== undefined) {
                        var data = new FormData();

                        for (var x = 0; x < files.length; x++) {
                            data.append("file" + x, files[x]);
                        }


                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("UploadPDF", "Osmotrs")',
                            contentType: false,
                            processData: false,
                            data: data,
                            success: function (result) {
                                console.log('file is added to server'+result);
                                if (result != "") {
                                    console.log('result is' + result);
                                    $('.toast').toast('show');
                                    filename = result;
                                    console.log('filename is' + filename);

                                    //теперь заполняем работу до конца
                                         $.post('@Url.Action("Gotovo", "Osmotrs")', { WorkId: Rabota, OsmotrId: Osmotr, FinalNumber: Number, FinalStoimost: Stoimost, Filename: filename },
                    function (data) {
                       // alert(data);
                        console.log('Контроллер вернул данные ' + data);
                        var S = data.split(';');
                        var CW = $('#CloseWork');
                        CW.modal('hide');
                        if (S[0] != 'Ошибка') {
                            if (S[0] == 'Готово') {
                                $("#Gotovo_" + id).removeClass("btn btn-outline-danger");
                                $("#Gotovo_" + id).addClass("btn btn-success");
                                $("#Gotovo_" + id).text("Выполнена");
                                $("#Gotovo_" + id).attr('ready', 'true');
                                $("#ActAOW_" + id).attr('href', '/Files/' + Osmotr + '/' + filename);
                                $("#ActAOW_" + id).addClass("btn btn-success");
                                $("#ActAOW_" + id).removeClass("btn btn-outline-danger");

                                $("#AO_" + id).addClass('table-success');
                                console.log('Кнопка стала заленой');
                            }
                            else {
                                $("#Gotovo_" + id).removeClass("btn btn-success");
                                $("#Gotovo_" + id).addClass("btn btn-outline-danger");
                                $("#Gotovo_" + id).text("Не выполнена");
                                $("#Gotovo_" + id).attr('ready', 'false');
                                $("#ActAOW_" + id).attr('href', '');
                                $("#ActAOW_" + id).removeClass("btn-success");
                                $("#ActAOW_" + id).addClass("btn-outline-danger");
                                $("#AO_" + id).removeClass('table-success');
                                console.log('Кнопка стала красной');
                            }
                        }
                        else {
                            alert('Ошибка сохранения файла. ' + S[1]);
                        }

                        // $('body').append('<ul><li>Java</li><li>JavaScript</li></ul>');



                    });

                                }


                            },
                            error: function (xhr, status, p3) {

                                alert(xhr.responseText);
                            }
                        });
                    } else {
                        alert("Браузер не поддерживает загрузку файлов HTML5!");
                    }
            }






        }
    </script>
    <script>
        function ReOpenWorkSubmit()
        {
            var CW = $('#CloseWork');
            var Rabota = $('#RabotaId').val();
            var id = Rabota;
            var Osmotr = $('#OsmotrId').val();
            var Number = $('#NumberFact').val();
            var Stoimost = $('#StoimostFact').val();
            var e = $('#LoadPDF');

                                    //теперь заполняем работу до конца
                   $.post('@Url.Action("NeGotovo", "Osmotrs")', { WorkId: Rabota},
                    function (data) {
                        alert(data);
                        console.log('Контроллер вернул данные ' + data);
                        var S = data.split(';');
                        var CW = $('#CloseWork');
                        CW.modal('hide');
                        if (S[0] != 'Ошибка') {
                            if (S[0] == 'НеГотово') {
                                $("#Gotovo_" + id).removeClass("btn btn-success");
                                $("#Gotovo_" + id).addClass("btn btn-outline-danger");
                                $("#Gotovo_" + id).text("Не выполнена");
                                $("#Gotovo_" + id).attr('ready', 'false');
                                $("#ActAOW_" + id).attr('href', '');
                                $("#ActAOW_" + id).removeClass("btn-success");
                                $("#ActAOW_" + id).addClass("btn-outline-danger");
                                $("#AO_" + id).removeClass('table-success');
                                console.log('Кнопка стала красной');
                            }


                        }
                        else {
                            alert('Ошибка сохранения файла. ' + S[1]);
                        }
                        // $('body').append('<ul><li>Java</li><li>JavaScript</li></ul>');
                    });
        }
    </script>




    <script>
        function AddWork(id)
        {
            console.log('Начинаем добавление работы ' + id);
            var OW = $("#OW").val();
            var N = $("#N" ).val();
            var O = $("#OSMOTR").val();
            var Table = $("#AO_"+id);
            console.log('Приняли такие данные: ' + OW+';'+N+';'+O+';'+Table);
             $.post('@Url.Action("AddWork", "Osmotrs")', { OsmotrWork: OW, Number: N, OsmotrId:O,ElementId:id},
                 function (data) {
                     console.log('Контроллер вернул данные ' + data);
                            var S = data.split(';');
                     if (S[0] != 'Ошибка')
                     {
                         if (S[5] != 'Modify')
                         {
                             //Table.removeAttr('display');
                             Table.fadeIn('slow');
                             Table.after('<tr id="AO_' + S[5] + '" class="AO_' + S[5] + '"><td  style="text-align:center">' + S[0] + '</td><td style="text-align:center" >' + S[1] + '</td><td style="text-align:center" colspan="2" >' + S[3] + '</td><td style="text-align:center"colspan="2">0</td><td style="text-align:center">' + S[2] + '</td><td style="text-align:center">' + S[4] + '</td><td style="text-align:center">0</td><td style="text-align:center"><a href="" id="ActAOW_' + id + '" class="btn btn-outline-danger">Akt</a></td><td style="text-align:center"  ><button type="button" id="Gotovo_' + id + '" ADId="' + id + '" onclick="Gotov(' + S[5] + ',' + S[1] +')" class="btn btn-outline-secondary">Новая</button></td><td style="text-align:center" ><button type="button" id="RemoveWork" ADId="' + id + '"  class="btn btn-outline-secondary rem">Удалить работу</button></td></tr>');
                             // $('#AO_' + id).hide().fadeIn("slow");//появляем медленно строку
                             console.log('Добавили в таблицу строку' + Table);
                             $('#AddNewActiveWork').modal('hide');
                         }
                         else
                         {
                             //El2 + ";" + OW.Name + ";" + OW.Izmerenie.Name + ";" + Number.ToString() + ";" + AOW.TotalCost.ToString()+";"+AOW.Id+";Add";
                             console.log('Ищем строку AO_' + S[5]);
                             var El = $("#AO_" + S[5]);
                             El.replaceWith('<tr id="AO_' + S[5] + '" class="AO_' + S[5] + '"><td  style="text-align:center">' + S[0] + '</td><td style="text-align:center" >' + S[1] + '</td><td style="text-align:center" colspan="2">' + S[3] + '</td><td style="text-align:center"colspan="2">0</td><td style="text-align:center">' + S[2] + '</td><td style="text-align:center">' + S[4] + '</td><td style="text-align:center">0</td><td style="text-align:center"><a href="" id="ActAOW_' + id + '" class="btn btn-outline-danger">Akt</a></td><td style="text-align:center"  ><button type="button" id="Gotovo_' + id + '" ADId="' + id + '" onclick="Gotov(' + S[5] + ',' + S[1] +')" class="btn btn-outline-secondary">Новая</button></td><td style="text-align:center"></td><button type="button" id="RemoveWork" ADId="' + id + '" class="btn btn-outline-secondary rem">Удалить работу</button></td></tr>');
                             // $('#AO_' + id).hide().fadeIn("slow");//появляем медленно строку
                             console.log('Заменили строку в таблице' + Table);
                             $('#AddNewActiveWork').modal('hide');
                         }

                     }
                     else
                     {
                         alert('Ошибка сохранения файла. ' + S[1]);
                     }
                            // $('body').append('<ul><li>Java</li><li>JavaScript</li></ul>');
                        });
        }
    </script>
    <script>
        function AddRecommendWork(id)
        {
            console.log('Начинаем добавление работы ' + id);
            var Part = $("#RDOMPart").val();
            var Number = $("#RNumber" ).val();
            var Osmotr = $("#ROsmotr").val();
            var Cost = $("#RCost").val();
            var Name = $("#RName").val();
            var Izmerenie = $("#RIzmerenie").val();
            var Table = $("#RO_"+id );
            console.log('Приняли такие данные: ' + Part + ';' + Number + ';' + Osmotr + ';' + Table + ";" + Cost + ";" + Name + ";" + Izmerenie);
             $.post('@Url.Action("AddRecommendWork", "Osmotrs")', { OsmotrId: Osmotr, Number: Number, PartId:Part,Cost:Cost, Name:Name,IzmerenieId:Izmerenie},
                 function (data) {
                     console.log('Контроллер вернул данные ' + data);
                            var S = data.split(';');
                     if (S[0] != 'Ошибка')
                     {
                         if (S[6] != 'Modify')
                         {
                             //Table.removeAttr('display');ROW.DOMPart.Name + ";" + ROW.Name + ";" + ROW.Izmerenie.Name + ";" + Number.ToString() + ";" + ROW.Cost.ToString() + ";" + ROW.Id + ";Add";

                             Table.fadeIn('slow');
                             Table.after('<tr id="RO_' + S[5] + '" class="RO_' + S[5] + '"><td  style="text-align:center">' + S[0] + '</td><td style="text-align:center">' + S[1] + '</td><td style="text-align:center">' + S[3] + '</td><td style="text-align:center" colspan="2">0</td><td style="text-align:center"  colspan="2">' + S[2] + '</td><td style="text-align:center">' + S[4] + '</td><td style="text-align:center" colspan=>0</td><td style="text-align:center" ><button class="btn btn-outline-secondary">AKT</button></td><td style="text-align:center" ><button class="btn btn-outline-secondary">Новая</button></td><td style="text-align:center" colspan="2" ><button type="button" id="RemoveWork" ADId="' + id + '" onclick="RemoveRecommendWork(' + S[5] + ')" class="btn btn-outline-secondary rem">Удалить работу</button></td></tr>');
                             // $('#RO_' + id).hide().fadeIn("slow");//появляем медленно строку
                             console.log('Добавили в таблицу строку' + Table);
                             $('#AddNewRecommendWork').modal('hide');
                         }
                         else
                         {
                             console.log('Ищем строку RO_' + S[5]);
                             var El = $("#RO_" + S[4]);
                             El.replaceWith('<tr id="RO_' + S[5] + '" class="RO_' + S[5] + '"><td  style="text-align:center">' + S[0] + '</td><td style="text-align:center" colspan="2">' + S[1] + '</td><td style="text-align:center">' + S[3] + '</td><td style="text-align:center">' + S[2] + '</td><td style="text-align:center">' + S[4] + '</td><td style="text-align:center" colspan="2" ><button type="button" id="RemoveWork" ADId="' + id + '" onclick="RemoveRecommendWork(' + S[5] + ')" class="btn btn-outline-danger rem">Удалить работу</button></td></tr>');
                             // $('#RO_' + id).hide().fadeIn("slow");//появляем медленно строку
                             console.log('Заменили строку в таблице' + Table);
                             $('#AddNewRecommendWork').modal('hide');
                         }

                     }
                     else
                     {
                         alert('Ошибка сохранения файла. ' + S[1]);
                     }
                            // $('body').append('<ul><li>Java</li><li>JavaScript</li></ul>');
                        });
        }
    </script>
    <script>
        function RemoveRecommendWork(id)
        {
              $.post('@Url.Action("RemoveRecommendWork", "Osmotrs")', { id: id},
                 function (data) {
                     console.log('Контроллер вернул данные ' + data);
                            var S = data.split(';');
                     if (S[0] != 'Ошибка') {
                         $("#RO_" + id).remove();
                                console.log('Удалили строку в таблице' );
                            }
                            else {
                                alert('Ошибка сохранения файла. '+S[1]);
                            }
                            // $('body').append('<ul><li>Java</li><li>JavaScript</li></ul>');



                        });

        }
    </script>
}
