@model GKHNNC.Models.MKDYearOtchet

@{

    Layout = "~/Views/Shared/_Layout0.cshtml";
}

<table class="table table-bordered table-stripped">
    <tr>
        <th>
            Услуга
        </th>
        <th>
            Баланс дома на начало периода
        </th>
        <th>
            Начислено
        </th>
        <th>
            Оплачено
        </th>
        <th>
            Выполненные работы
        </th>
        <th>
            Баланс дома на конец периода
        </th>
    </tr>
    <tr>
        <td>
            Аренда
        </td>
        <th title="Статья Аренда Данные Январь отчет Остатки @Model.OstatkiArendaSTART + ФиксированныеРезультаты @Model.ArendaOld  " class="table-success">
            @(Model.OstatkiArendaSTART+ Model.ArendaOld)
        </th>
        <th title="Статья Начислено отчет Аренда" class="table-info">
            @Model.OstatkiArendaNachisleno
        </th>
        <th title="Статья Оплачено отчет Аренда" class="table-info">
            @Model.OstatkiArendaOplacheno
        </th>
        <th title="Статья Аренда Данные Остатки + Вознаграждение " class="table-success">
            @Model.Arenda
        </th>
        <th title="Расчетное значение  @Model.OstatkiArendaSTART + @Model.ArendaOld + @Model.OstatkiArendaOplacheno -@Model.Arenda" class="table-warning">
            @(Model.OstatkiArendaSTART + Model.ArendaOld + Model.OstatkiArendaOplacheno - Model.Arenda)
        </th>
    </tr>
    <tr>
        <td>
            Дополнительный текущий ремонт
        </td>
        <th title="Статья ДопТекРем Данные Январь отчет Остатки @Model.OstatkiDopTekRemSTART + ФиксированныеРезультаты @Model.DopTekRemOld" class="table-success">
            @(Model.OstatkiDopTekRemSTART + Model.DopTekRemOld)
        </th>
        <th title="Столбец CHARGE отчет ОРС" class="table-danger">
            @Model.ORCDopTekRemCHANGE
        </th>
        <th title="Столбец PAY отчет ОРС" class="table-danger">
            @Model.ORCDopTekRemPAY
        </th>
        <th title="Статья ДопТекРем Данные Расход отчет Остатки" class="table-success">
            @Model.OstatkiDopTekRemEND
        </th>
        <th title="Расчетное значение  @Model.OstatkiDopTekRemSTART + @Model.DopTekRemOld + @Model.ORCDopTekRemPAY - @Model.DopTekRem" class="table-warning">
            @(@Model.OstatkiDopTekRemSTART + Model.DopTekRemOld + Model.ORCDopTekRemPAY - Model.DopTekRem)
        </th>
    </tr>

    <tr>
        <td>
            Непредвиденный/Неотложный ремонт
        </td>
        <th title="Статья Непредвиденный ремонт Данные Январь отчет Остатки @Model.OstatkiDopTekRemSTART + ФиксированныеРезультаты @Model.NeotlogniOld" class="table-success">
            @(Model.OstatkiNepredRemSTART + Model.NeotlogniOld)
        </th>
        <th title="Столбец CHARGE отчет ОРС" class="table-danger">
            @Model.ORCNepredRemontCHANGE
        </th>
        <th title="Столбец PAY отчет ОРС" class="table-danger">
            @Model.ORCNepredRemontPAY
        </th>
        <th title="Статья ДопТекРем Данные Расход отчет Остатки" class="table-success">
            @Model.NepredRaschet
        </th>
        <th title="Расчетное значение  @Model.OstatkiNepredRemSTART + @Model.NeotlogniOld + @Model.ORCNepredRemontPAY - @Model.NepredRemont" class="table-warning">
            @(Model.OstatkiNepredRemSTART + Model.NeotlogniOld + @Model.ORCNepredRemontPAY - Model.NepredRemont)
        </th>
    </tr>
    <tr>
        <td>
            Текущий ремонт (содержание)
        </td>
        <th title="Статья ТЕКУЩИЙ РЕМОНТ Данные Январь отчет Остатки @Model.OstatkiDopTekRemSTART + ФиксированныеРезультаты @Model.TekRemOld" class="table-success">
            @(Model.OstatkiTekRemSTART + Model.TekRemOld)
        </th>
        <th title="Столбец CHARGE отчет ОРС" class="table-danger">
            @Model.ORCTekRemCHANGE
        </th>
        <th title="Столбец PAY отчет ОРС " class="table-danger">
            @(Model.ORCTekRemPAY)
        </th>
        <th title="ТЕКРЕМ (Содержание) WORD" class="table-success">
            @Model.TEKREM
        </th>
        <th title="Расчетное значение   @Model.OstatkiTekRemSTART + @Model.TekRemOld + @Model.ORCTekRemPAY - @Model.TEKREM" class="table-warning">
            @(Model.OstatkiTekRemSTART + Model.TekRemOld + Model.ORCTekRemPAY - Model.TEKREM)
        </th>
    </tr>
    <tr>
        <td>
            Содержание
        </td>
        <th title="Статья Содержание Данные Январь отчет Остатки @Model.OstatkiSoderganieSTART + ФиксированныеРезультаты @Model.SoderganieOld" class="table-success">
            @(Model.OstatkiSoderganieSTART + Model.SoderganieOld)
        </th>
        <th title="Столбец CHARGE отчет ОРС" class="table-danger">
            @Model.ORCSoderganieCHANGE
        </th>
        <th title="Столбец PAY отчет ОРС" class="table-danger">
            @Model.ORCSoderganiePAY
        </th>
        <th title="Статья Содержание и ремонт собственные средства Данные Word 3 исключения" class="table-info">
            @Model.Soderganie
        </th>
        <th title="Расчетное значение  @Model.OstatkiSoderganieSTART + @Model.SoderganieOld - @Model.Soderganie + @Model.ORCSoderganiePAY" class="table-warning">
            @(Model.OstatkiSoderganieSTART + Model.SoderganieOld - Model.Soderganie + Model.ORCSoderganiePAY )
        </th>
    </tr>
</table>