@model GKHNNC.Models.Osmotr

@{
    ViewBag.Title = "PlanoviOsmotr";
    Layout = "~/Views/Shared/_Layout0.cshtml";
}



<html>


<body>

    <script type='text/javascript' src='http://code.jquery.com/jquery-1.10.1.min.js'></script>
    <script type='text/javascript'>

    </script>
    <script type='text/javascript'>
        $('#MENU').hide(500);
        $(window).on('load', function () {

            $('#wrap_preloader').delay(500).fadeToggle(500);
            $('#MENU').show(500);
        });
    </script>

    <div id='wrap_preloader' style=" width: 100%;height: 100%;position: fixed;top:0px;margin: 0px auto;background: #1C1C1C;z-index: 99;text-align: center;color: #fff;font-size: 15px;padding-top: 260px;color:limegreen">

        <p>
            <img src="~/Content/Images/Download/D1.gif" align="middle" class="rounded mr-2" alt="Идёт загрузка...">
        </p>
        <p>
            Загружаем осмотр...
        </p>


    </div>






    <div id="MENU" style="background:#28a745;z-index:90;position:fixed;top:0px;">
        @for (int i = 0; i < Model.DOMParts.Count; i++)
        {
            <a href="#@i" style="color:white;font-size:20px">@Model.DOMParts[i].Name |</a>
        }
      
        @Html.ActionLink("Назад", "Index", "Houses", null, new { @style = "color:white;font-size:20px" })
    </div>
   
    <br />
    <h2>Плановый отчет #@Model.Adres.Adress</h2>
    <div class="col-md-12" style="background-color:#28a745">
        <table>
            <tr>
                <td>
                    <h3>@Model.Adres.Ulica @Model.Adres.Dom</h3>
                </td>
            </tr>

        </table>
    </div>

    <h4>От @Model.Date.Day @ViewBag.Month @Model.Date.Year</h4>
    @if (ViewBag.Error != "")
    {
        <H5>При загрузке возникла ошибка!!!</H5>
        <p>@ViewBag.Error</p>
    }




    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="container">
        <div class="form-horizontal">

            @{ int progress = 0;
                double pro100 = Model.DOMParts.Count;
                int procount = 0;
            }





            <div class="row">
                <div class="col-md-12" style="background-color:#28a745">
                    <table id="tableData" style="width:100%">

                        <tr style="background-color:#28a745 ; color:white" class="table-bordered">
                            <th width="230px" style="text-align:center">
                                Работа
                            </th>
                            <th width="95px" style="text-align:center">
                                Значение
                            </th>
                            <th width="95px" style="text-align:center">
                                Норма
                            </th>
                            <th width="95px" style="text-align:center">
                                Периодичность
                            </th>
                            <th width="95px" style="text-align:center">
                                Сумма
                            </th>

                        </tr>
                        @for (int j = 0; j < Model.WS.Count; j++)
                        {

                            <tr style="background-color:white" class="table-bordered">
                                <th style="text-align:left" title="@Model.WS[j].Opisanie">
                                    @Model.WS[j].Name
                                </th>
                                <th style="text-align:center" title="Расчетное значение (генерируется в момент создания отчета, не хранится в БД)">
                                    @Model.WS[j].Val
                                </th>
                                <th width="95px" style="text-align:center" title="Норма (выставлена в таблице 'Справочник работ по содержанию', едина для всех домов)">
                                    @Model.WS[j].Norma
                                </th>
                                <th width="95px" style="text-align:center" title="Периодичность (выставлена в таблице 'Справочник работ по содержанию', едина для всех домов)">
                                    @Model.WS[j].Periodichnost
                                </th>
                                <th width="95px" style="text-align:center" title="Человекочасы расчетное значение Значение * Норма * Периодичность (генерируется в момент создания отчета, не хранится в БД)">
                                    @(Math.Round(Model.WS[j].Norma * Model.WS[j].Val * Model.WS[j].Periodichnost, 2))
                                </th>

                            </tr>


                        }


                    </table>
                    <button onclick="Export()" class="btn btn-success">Экспорт в эксель</button>
                </div>




            </div>



            @{ procount++;
                progress = Convert.ToInt16(procount / pro100 * 100);
                ProgressHub.SendMessage("Загружаем данные элементов...", progress);
                if (procount > pro100) { procount = Convert.ToInt32(pro100); }
            }

        </div>
    </div>







</body>


</html>




@section Scripts{

    @Scripts.Render("~/scripts/jquery-ui-1.12.1.min.js")
    @Scripts.Render("~/scripts/nprogress.min.js")
    @Scripts.Render("~/scripts/jquery.signalR-2.4.0.js")
    @Scripts.Render("~/signalr/hubs")
    @Scripts.Render("/scripts/ExportToExcel/excelexportjs.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/scripts/bootstrap.js")
    @Scripts.Render("~/scripts/bootstrap.bundle.js")
    @Scripts.Render("https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")
    @Scripts.Render("~/scripts/jquery.rating/js/jquery.rating-2.0.js")
    @Scripts.Render("~/scripts/jquery.rating/js/jquery.rating-2.0Red.js")


    <link href="/scripts/jquery.rating/styles/jquery.rating.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />




    <script>
        function Export() {
            var images = $("img");
            for (var i = 0; i < images.length; i++) {
                var Alt = images[i].getAttribute("alt");
                images[i].replaceWith(Alt);

            };

            var inputs = $("input");
            for (var i = 0; i < inputs.length; i++) {
                var Inp = inputs[i].value;
                inputs[i].replaceWith(Inp);
            }
            $("#tableData").excelexportjs({
                containerid: "tableData",
                datatype: 'table'
            });
          
        };
    </script>
    <script>
        function ChangeAEValue(id) {
            var AE = $('#Element_' + id).val();
            $.post('@Url.Action("ChangeAEValue", "Osmotrs")', { Id: id, Val: AE },
                function (data) {
                });

        }
    </script>
    <script>
        function ChangeAEValue2(id) {
            var AE = $('#Element_' + id).val();
            $.post('@Url.Action("ChangeAEValue2", "Osmotrs")', { Id: id, Val: AE },
                function (data) {
                });

        }
    </script>
    <script>
        function ChangeType(id,val) {
             $.post('@Url.Action("ChangeTypeElement", "Osmotrs")', { Id: id, Val: val },
                function (data) {
                });

        }
    </script>
    <script>
        function ChangeMaterial(id,val) {
             $.post('@Url.Action("ChangeMaterialElement", "Osmotrs")', { Id: id, Val: val },
                function (data) {
                });

        }
    </script>
    <script>
        function ChangeTEVal(id) {
            var TE = $('#TE_' + id).val();
            $.post('@Url.Action("ChangeTEValue", "Osmotrs")', { Id: id, Val: TE },
                function (data) {
                });

        }
    </script>
    <script>
        function PS(id)
        {
           var PRIM =  $('#Primechanie').val();
              $.post('@Url.Action("SavePrimechanie", "Osmotrs")', { id: id,text:PRIM},
                 function (data) {
                     console.log('Контроллер вернул данные ' + data);
                            var S = data.split(';');
                     if (S[0] != 'Ошибка') {
                                console.log('Примечание сохранено' );
                            }
                            else {
                                alert('Ошибка сохранения файла. '+S[1]);
                            }
                            // $('body').append('<ul><li>Java</li><li>JavaScript</li></ul>');
                        });
        }
    </script>
    <script>
        $(function () {
            var PB = $.connection.progressHub;
            console.log("Loading...");
            PB.client.sendMessage = function (message, count) {
                // update progress
                console.log(count);
                UpdateProgress(message, count);
                //alert(message);
            };

            $.connection.hub.start().done(function () {
                console.log("Приконнектились");
                // call the method CallLongOperation defined in the Hub
                PB.server.getCountAndMessage();
                //$("#progressBar").hide();



            });


            // Update the progress bar
            function UpdateProgress(message, count) {
                // $("#progressBar").fadeIn("slow");
                var result = $("#result");
                if (count >= 100) { $("#X").click(); }
                result.html(message);

                //$("#progressBar").data("progressbar").value(count);

                $("#progressBar").attr("aria-valuenow", count);
                $("#progressBar").width(count + '%');
                $("#progressBar").text(count + '%');
                $("#nadpis").text(message);
                // $("#progressBar").css("width", count);
            }
        });
    </script>



    <script>
        function UploadPDF(e) {
          var files = $(e)[0].files;
                console.log('Файлы.' + files);
                if (files.length > 0) {
                    if (window.FormData !== undefined) {
                        var data = new FormData();

                        for (var x = 0; x < files.length; x++) {
                            data.append("file" + x, files[x]);
                        }


                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("Upload", "Osmotrs")',
                            contentType: false,
                            processData: false,
                            data: data,
                            success: function (result) {
                                $('.toast').toast('show');


                            },
                            error: function (xhr, status, p3) {

                                alert(xhr.responseText);
                            }
                        });
                    } else {
                        alert("Браузер не поддерживает загрузку файлов HTML5!");
                    }
                }
        }
    </script>

    <script>
        function OpenModal(id) {
            $('#' + id).modal('show');
        }
    </script>
    <script>
     function Peredelat2(id)
     {

                var GO = confirm('Вы уверены что данные неверны? ОЭЖФ получит возможность редактирования данного осмотра! ')
                if (GO) {
                    $.post('@Url.Action("Peredelat2", "Osmotrs")', { OsmotrId: id },
                        function (data) {
                            if (data != null) {
                                 var url = "@Url.Action("OsmotrsProverka1", "Houses")";
                                alert('Осмотр возвращен в ОЭЖФ для редактирования. Сообщите замечания по осмотру в ОЭЖФ лично! ');
                                $('#wrap_preloader').fadeIn(500);
                                window.location.replace(url);

                                }
                        });
                }
            }
    </script>
    <script>
        function RemoveWork(id,name)
        {
            var GO = confirm('Вы уверены, что хотите удалить работу ' + name + ' ?')
            if (GO) {
                $.post('@Url.Action("RemoveWork", "Osmotrs")', { id: id },
                    function (data) {
                        console.log('Контроллер вернул данные ' + data);
                        var S = data.split(';');
                        if (S[0] != 'Ошибка') {
                            $("#AO_" + id).remove();
                            console.log('Удалили строку в таблице');
                        }
                        else {
                            alert('Ошибка сохранения файла. ' + S[1]);
                        }
                        // $('body').append('<ul><li>Java</li><li>JavaScript</li></ul>');



                    });
            }

        }
    </script>
    <script>
        function RemoveWorkORW(id,name)
        {
            var GO = confirm('Вы уверены, что хотите удалить работу ' + name + ' ?')
            if (GO) {
                $.post('@Url.Action("RemoveWorkORW", "Osmotrs")', { id: id },
                    function (data) {
                        console.log('Контроллер вернул данные ' + data);
                        var S = data.split(';');
                        if (S[0] != 'Ошибка') {
                            $("#RO_" + id).remove();
                            console.log('Удалили строку в таблице');
                        }
                        else {
                            alert('Ошибка сохранения файла. ' + S[1]);
                        }
                        // $('body').append('<ul><li>Java</li><li>JavaScript</li></ul>');



                    });
            }

        }
    </script>
    <script>
        function Gotov(id, name) {
            //  var gotov = $("#Gotovo_" + id).attr('ready');
            var CW = $('#CloseWork');
            $('#RabotaId').val(id);
            $('#RabotaName').val(name);
            $('#LoadPDF')[0].files = null;
            $('#NumberFact').val('0');
            $('#StoimostFact').val('0');

            CW.modal('show');



        }
    </script>
    <script>
        function GotovORW(id, name) {

            //  var gotov = $("#Gotovo_" + id).attr('ready');
            var CW = $('#CloseWorkORW');
            $('#RabotaIdORW').val(id);
            $('#RabotaNameORW').val(name);
            $('#LoadPDFORW')[0].files = null;
            $('#NumberFactORW').val('0');
            $('#StoimostFactORW').val('0');

            CW.modal('show');



        }
    </script>
    <script>
        function CloseWorkSubmitORW()
        {
            var CW = $('#CloseWorkORW');
            var Rabota = $('#RabotaIdORW').val();
            var id = Rabota;
            var Osmotr = $('#OsmotrIdORW').val();
            var Number = $('#NumberFactORW').val();
            var Stoimost = $('#StoimostFactORW').val();
            var FinNum = $('#FinNumORW_'+id);
            var FinCost = $('#FinCostORW_'+id);
            var e = $('#LoadPDFORW');
            var filename = "";
            var files = $(e)[0].files;
                console.log('Файлы.' + files);
            if (files.length > 0) {
               // alert('файлы есть');//Грузим файлы если есть
                    if (window.FormData !== undefined) {
                        var data = new FormData();

                        for (var x = 0; x < files.length; x++) {
                            data.append("file" + x, files[x]);
                        }


                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("UploadPDF", "Osmotrs")',
                            contentType: false,
                            processData: false,
                            data: data,
                            success: function (result) {
                                console.log('file is added to server'+result);
                                if (result != "") {
                                    console.log('result is' + result);
                                    $('.toast').toast('show');
                                    filename = result;
                                    console.log('filename is' + filename);
                                    alert("WorkId: "+Rabota+", OsmotrId:"+ Osmotr+", FinalNumber:"+ Number+", FinalStoimost:"+ Stoimost+", Filename:"+ filename);
                                    //теперь заполняем работу до конца int WorkId, int OsmotrId, decimal FinalNumber, decimal FinalStoimost, string Filename
                                         $.post('@Url.Action("GotovoORW", "Osmotrs")', { WorkId: Rabota, OsmotrId: Osmotr, FinalNumber: Number, FinalStoimost: Stoimost, Filename: filename },
                    function (data) {
                      //  alert(data);
                        console.log('Контроллер вернул данные ' + data);
                        var S = data.split(';');
                        var CW = $('#CloseWork');
                        CW.modal('hide');
                        if (S[0] != 'Ошибка') {
                            if (S[0] == 'Готово') {
                                $('#CloseWorkORW').modal('hide');
                                $("#GotovoORW_" + id).removeClass("btn btn-outline-danger");
                                $("#GotovoORW_" + id).addClass("btn btn-success");
                                $("#GotovoORW_" + id).text("Выполнена");
                                $("#GotovoORW_" + id).attr('ready', 'true');
                                $("#ActORW_" + id).attr('href', '/Files/' + Osmotr + '/' + filename);
                                $("#ActORW_" + id).addClass("btn-success");
                                $("#ActORW_" + id).removeClass("btn-outline-danger");
                                FinNum.html(Number);
                                FinCost.html(Stoimost);

                                $("#RO_" + id).addClass('table-success');
                                console.log('Кнопка стала заленой');

                            }
                            else {
                                $("#GotovoORW_" + id).removeClass("btn btn-success");
                                $("#GotovoORW_" + id).addClass("btn btn-outline-danger");
                                $("#GotovoORW_" + id).text("Выполнена");
                                $("#GotovoORW_" + id).attr('ready', 'true');
                                $("#ActORW_" + id).attr('href', '/Files/' + Osmotr + '/' + filename);
                                $("#ActORW_" + id).addClass("btn-outline-danger");
                                $("#ActORW_" + id).removeClass("btn-success");

                                $("#RO_" + id).addClass('table-danger');
                                console.log('Кнопка стала красной');
                                $('#CloseWorkORW').modal('hide');
                            }
                        }
                        else {
                            alert('Ошибка сохранения файла. ' + S[1]);
                        }

                        // $('body').append('<ul><li>Java</li><li>JavaScript</li></ul>');



                    });

                                }


                            },
                            error: function (xhr, status, p3) {

                                alert(xhr.responseText);
                            }
                        });
                    } else {
                        alert("Браузер не поддерживает загрузку файлов HTML5!");
                    }
            }






        }
    </script>
    <script>
        function ReOpenWorkSubmitORW()
        {
            var CW = $('#CloseWork');
            var Rabota = $('#RabotaIdORW').val();
            var id = Rabota;
            var Osmotr = $('#OsmotrIdORW').val();



                                    //теперь заполняем работу до конца
                   $.post('@Url.Action("NeGotovoORW", "Osmotrs")', { WorkId: Rabota},
                    function (data) {
                       // alert(data);
                        console.log('Контроллер вернул данные ' + data);
                        var S = data.split(';');
                        var CW = $('#CloseWork');
                        CW.modal('hide');
                        if (S[0] != 'Ошибка') {
                            if (S[0] == 'НеГотово') {
                                $('#CloseWorkORW').modal('hide');
                                $("#GotovoORW_" + id).removeClass("btn btn-success");
                                $("#GotovoORW_" + id).addClass("btn btn-outline-danger");
                                $("#GotovoORW_" + id).text("Не выполнена");
                                $("#GotovoORW_" + id).attr('ready', 'false');
                                $("#ActORW_" + id).attr('href', '');
                                $("#ActORW_" + id).removeClass("btn-success");
                                $("#ActORW_" + id).addClass("btn-outline-danger");
                                $("#RO_" + id).removeClass('table-success');
                                console.log('Кнопка стала красной');
                            }


                        }
                        else {
                            alert('Ошибка сохранения файла. ' + S[1]);
                        }
                        // $('body').append('<ul><li>Java</li><li>JavaScript</li></ul>');
                    });
        }
    </script>
    <script>
        function CloseWorkSubmit()
        {
            var CW = $('#CloseWork');
            var Rabota = $('#RabotaId').val();
            var id = Rabota;
            var Osmotr = $('#OsmotrId').val();
            var Number = $('#NumberFact').val();
            var Stoimost = $('#StoimostFact').val();
            var e = $('#LoadPDF');
            var filename = "";
            var files = $(e)[0].files;
                console.log('Файлы.' + files);
            if (files.length > 0) {
               // alert('файлы есть');//Грузим файлы если есть
                    if (window.FormData !== undefined) {
                        var data = new FormData();

                        for (var x = 0; x < files.length; x++) {
                            data.append("file" + x, files[x]);
                        }


                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("UploadPDF", "Osmotrs")',
                            contentType: false,
                            processData: false,
                            data: data,
                            success: function (result) {
                                console.log('file is added to server'+result);
                                if (result != "") {
                                    console.log('result is' + result);
                                    $('.toast').toast('show');
                                    filename = result;
                                    console.log('filename is' + filename);

                                    //теперь заполняем работу до конца
                                         $.post('@Url.Action("Gotovo", "Osmotrs")', { WorkId: Rabota, OsmotrId: Osmotr, FinalNumber: Number, FinalStoimost: Stoimost, Filename: filename },
                    function (data) {
                       // alert(data);
                        console.log('Контроллер вернул данные ' + data);
                        var S = data.split(';');
                        var CW = $('#CloseWork');
                        CW.modal('hide');
                        if (S[0] != 'Ошибка') {
                            if (S[0] == 'Готово') {
                                $("#Gotovo_" + id).removeClass("btn btn-outline-danger");
                                $("#Gotovo_" + id).addClass("btn btn-success");
                                $("#Gotovo_" + id).text("Выполнена");
                                $("#Gotovo_" + id).attr('ready', 'true');
                                $("#ActAOW_" + id).attr('href', '/Files/' + Osmotr + '/' + filename);
                                $("#ActAOW_" + id).addClass("btn btn-success");
                                $("#ActAOW_" + id).removeClass("btn btn-outline-danger");

                                $("#AO_" + id).addClass('table-success');
                                console.log('Кнопка стала заленой');
                            }
                            else {
                                $("#Gotovo_" + id).removeClass("btn btn-success");
                                $("#Gotovo_" + id).addClass("btn btn-outline-danger");
                                $("#Gotovo_" + id).text("Не выполнена");
                                $("#Gotovo_" + id).attr('ready', 'false');
                                $("#ActAOW_" + id).attr('href', '');
                                $("#ActAOW_" + id).removeClass("btn-success");
                                $("#ActAOW_" + id).addClass("btn-outline-danger");
                                $("#AO_" + id).removeClass('table-success');
                                console.log('Кнопка стала красной');
                            }
                        }
                        else {
                            alert('Ошибка сохранения файла. ' + S[1]);
                        }

                        // $('body').append('<ul><li>Java</li><li>JavaScript</li></ul>');



                    });

                                }


                            },
                            error: function (xhr, status, p3) {

                                alert(xhr.responseText);
                            }
                        });
                    } else {
                        alert("Браузер не поддерживает загрузку файлов HTML5!");
                    }
            }






        }
    </script>
    <script>
        function ReOpenWorkSubmit()
        {
            var CW = $('#CloseWork');
            var Rabota = $('#RabotaId').val();
            var id = Rabota;
            var Osmotr = $('#OsmotrId').val();
            var Number = $('#NumberFact').val();
            var Stoimost = $('#StoimostFact').val();
            var e = $('#LoadPDF');

                                    //теперь заполняем работу до конца
                   $.post('@Url.Action("NeGotovo", "Osmotrs")', { WorkId: Rabota},
                    function (data) {
                        alert(data);
                        console.log('Контроллер вернул данные ' + data);
                        var S = data.split(';');
                        var CW = $('#CloseWork');
                        CW.modal('hide');
                        if (S[0] != 'Ошибка') {
                            if (S[0] == 'НеГотово') {
                                $("#Gotovo_" + id).removeClass("btn btn-success");
                                $("#Gotovo_" + id).addClass("btn btn-outline-danger");
                                $("#Gotovo_" + id).text("Не выполнена");
                                $("#Gotovo_" + id).attr('ready', 'false');
                                $("#ActAOW_" + id).attr('href', '');
                                $("#ActAOW_" + id).removeClass("btn-success");
                                $("#ActAOW_" + id).addClass("btn-outline-danger");
                                $("#AO_" + id).removeClass('table-success');
                                console.log('Кнопка стала красной');
                            }


                        }
                        else {
                            alert('Ошибка сохранения файла. ' + S[1]);
                        }
                        // $('body').append('<ul><li>Java</li><li>JavaScript</li></ul>');
                    });
        }
    </script>




    <script>
        function AddWork(id)
        {
            console.log('Начинаем добавление работы ' + id);
            var OW = $("#OW").val();
            var N = $("#N" ).val();
            var O = $("#OSMOTR").val();
            var Table = $("#AO_"+id);
            console.log('Приняли такие данные: ' + OW+';'+N+';'+O+';'+Table);
             $.post('@Url.Action("AddWork", "Osmotrs")', { OsmotrWork: OW, Number: N, OsmotrId:O,ElementId:id},
                 function (data) {
                     console.log('Контроллер вернул данные ' + data);
                            var S = data.split(';');
                     if (S[0] != 'Ошибка')
                     {
                         if (S[5] != 'Modify')
                         {
                             //Table.removeAttr('display');
                             Table.fadeIn('slow');
                             Table.after('<tr id="AO_' + S[5] + '" class="AO_' + S[5] + '"><td  style="text-align:center">' + S[0] + '</td><td style="text-align:center" >' + S[1] + '</td><td style="text-align:center" colspan="2" >' + S[3] + '</td><td style="text-align:center"colspan="2">0</td><td style="text-align:center">' + S[2] + '</td><td style="text-align:center">' + S[4] + '</td><td style="text-align:center">0</td><td style="text-align:center"><a href="" id="ActAOW_' + id + '" class="btn btn-outline-danger">Akt</a></td><td style="text-align:center"  ><button type="button" id="Gotovo_' + id + '" ADId="' + id + '" onclick="Gotov(' + S[5] + ',' + S[1] +')" class="btn btn-outline-secondary">Новая</button></td><td style="text-align:center" ><button type="button" id="RemoveWork" ADId="' + id + '"  class="btn btn-outline-secondary rem">Удалить работу</button></td></tr>');
                             // $('#AO_' + id).hide().fadeIn("slow");//появляем медленно строку
                             console.log('Добавили в таблицу строку' + Table);
                             $('#AddNewActiveWork').modal('hide');
                         }
                         else
                         {
                             //El2 + ";" + OW.Name + ";" + OW.Izmerenie.Name + ";" + Number.ToString() + ";" + AOW.TotalCost.ToString()+";"+AOW.Id+";Add";
                             console.log('Ищем строку AO_' + S[5]);
                             var El = $("#AO_" + S[5]);
                             El.replaceWith('<tr id="AO_' + S[5] + '" class="AO_' + S[5] + '"><td  style="text-align:center">' + S[0] + '</td><td style="text-align:center" >' + S[1] + '</td><td style="text-align:center" colspan="2">' + S[3] + '</td><td style="text-align:center"colspan="2">0</td><td style="text-align:center">' + S[2] + '</td><td style="text-align:center">' + S[4] + '</td><td style="text-align:center">0</td><td style="text-align:center"><a href="" id="ActAOW_' + id + '" class="btn btn-outline-danger">Akt</a></td><td style="text-align:center"  ><button type="button" id="Gotovo_' + id + '" ADId="' + id + '" onclick="Gotov(' + S[5] + ',' + S[1] +')" class="btn btn-outline-secondary">Новая</button></td><td style="text-align:center"></td><button type="button" id="RemoveWork" ADId="' + id + '" class="btn btn-outline-secondary rem">Удалить работу</button></td></tr>');
                             // $('#AO_' + id).hide().fadeIn("slow");//появляем медленно строку
                             console.log('Заменили строку в таблице' + Table);
                             $('#AddNewActiveWork').modal('hide');
                         }

                     }
                     else
                     {
                         alert('Ошибка сохранения файла. ' + S[1]);
                     }
                            // $('body').append('<ul><li>Java</li><li>JavaScript</li></ul>');
                        });
        }
    </script>
    <script>
        function AddRecommendWork(id)
        {
            console.log('Начинаем добавление работы ' + id);
            var Part = $("#RDOMPart").val();
            var Number = $("#RNumber" ).val();
            var Osmotr = $("#ROsmotr").val();
            var Cost = $("#RCost").val();
            var Name = $("#RName").val();
            var Izmerenie = $("#RIzmerenie").val();
            var Table = $("#RO_"+id );
            console.log('Приняли такие данные: ' + Part + ';' + Number + ';' + Osmotr + ';' + Table + ";" + Cost + ";" + Name + ";" + Izmerenie);
             $.post('@Url.Action("AddRecommendWork", "Osmotrs")', { OsmotrId: Osmotr, Number: Number, PartId:Part,Cost:Cost, Name:Name,IzmerenieId:Izmerenie},
                 function (data) {
                     console.log('Контроллер вернул данные ' + data);
                            var S = data.split(';');
                     if (S[0] != 'Ошибка')
                     {
                         if (S[6] != 'Modify')
                         {
                             //Table.removeAttr('display');ROW.DOMPart.Name + ";" + ROW.Name + ";" + ROW.Izmerenie.Name + ";" + Number.ToString() + ";" + ROW.Cost.ToString() + ";" + ROW.Id + ";Add";

                             Table.fadeIn('slow');
                             Table.after('<tr id="RO_' + S[5] + '" class="RO_' + S[5] + '"><td  style="text-align:center">' + S[0] + '</td><td style="text-align:center">' + S[1] + '</td><td style="text-align:center">' + S[3] + '</td><td style="text-align:center" colspan="2">0</td><td style="text-align:center"  colspan="2">' + S[2] + '</td><td style="text-align:center">' + S[4] + '</td><td style="text-align:center" colspan=>0</td><td style="text-align:center" ><button class="btn btn-outline-secondary">AKT</button></td><td style="text-align:center" ><button class="btn btn-outline-secondary">Новая</button></td><td style="text-align:center" colspan="2" ><button type="button" id="RemoveWork" ADId="' + id + '" onclick="RemoveRecommendWork(' + S[5] + ')" class="btn btn-outline-secondary rem">Удалить работу</button></td></tr>');
                             // $('#RO_' + id).hide().fadeIn("slow");//появляем медленно строку
                             console.log('Добавили в таблицу строку' + Table);
                             $('#AddNewRecommendWork').modal('hide');
                         }
                         else
                         {
                             console.log('Ищем строку RO_' + S[5]);
                             var El = $("#RO_" + S[4]);
                             El.replaceWith('<tr id="RO_' + S[5] + '" class="RO_' + S[5] + '"><td  style="text-align:center">' + S[0] + '</td><td style="text-align:center" colspan="2">' + S[1] + '</td><td style="text-align:center">' + S[3] + '</td><td style="text-align:center">' + S[2] + '</td><td style="text-align:center">' + S[4] + '</td><td style="text-align:center" colspan="2" ><button type="button" id="RemoveWork" ADId="' + id + '" onclick="RemoveRecommendWork(' + S[5] + ')" class="btn btn-outline-danger rem">Удалить работу</button></td></tr>');
                             // $('#RO_' + id).hide().fadeIn("slow");//появляем медленно строку
                             console.log('Заменили строку в таблице' + Table);
                             $('#AddNewRecommendWork').modal('hide');
                         }

                     }
                     else
                     {
                         alert('Ошибка сохранения файла. ' + S[1]);
                     }
                            // $('body').append('<ul><li>Java</li><li>JavaScript</li></ul>');
                        });
        }
    </script>
    <script>
        function RemoveRecommendWork(id)
        {
              $.post('@Url.Action("RemoveRecommendWork", "Osmotrs")', { id: id},
                 function (data) {
                     console.log('Контроллер вернул данные ' + data);
                            var S = data.split(';');
                     if (S[0] != 'Ошибка') {
                         $("#RO_" + id).remove();
                                console.log('Удалили строку в таблице' );
                            }
                            else {
                                alert('Ошибка сохранения файла. '+S[1]);
                            }
                            // $('body').append('<ul><li>Java</li><li>JavaScript</li></ul>');



                        });

        }
    </script>
}
