@model GKHNNC.Models.ActiveElement

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout0.cshtml";
}


<table class="table-bordered table-striped">
    <tr>
        <td colspan="2">

            @Model.Element.Name
        </td>
        <td colspan="2">
            @Model.Sostoyanie
        </td>



    </tr>

    <tr>
        <td>
            @Html.DropDownList("DefectId", new SelectList(Model.Defects, "id", "def"), htmlAttributes: new { @class = "form-control" })
        </td>
        <td>
            <input class="form-control" id="DefectOpisanie" />
        </td>
        <td>
            <input class="form-control" type="number" id="DefectSostoyanie" />
        </td>
        <td>
            <button type="button" id="AddDefect" MId="@Model.Id" MDate="@Model.Date" MAdres="@Model.AdresId" MElement="@Model.ElementId" MOsmotr="@Model.OsmotrId" class="btn btn-success" >
                Добавить дефект
            </button>
        </td>
    </tr>

    @if (Model.ActiveDefects != null)
    {
        for (int j = 0; j < Model.ActiveDefects.Count; j++)
        {


            <tr>
                <td>
                    @Model.ActiveDefects[j].Defect.Def
                </td>
                <td>
                    @Model.ActiveDefects[j].Sostoyanie
                </td>
                <td>
                    @Model.ActiveDefects[j].Opisanie
                </td>
                <td>
                    <button type="button" id="AddDefect" value="@Model.Id" class="btn btn-success" >
                        Изменить дефект
                    </button>
                </td>
            </tr>

        }
    }

</table>




@section Scripts{
    @Scripts.Render("~/scripts/jquery-3.3.1.min.js")
    @Scripts.Render("~/scripts/jquery-ui-1.12.1.min.js")

<script>
            //Нажатие на кнопку "input[type='submit']"
            $("#AddDefect").change(function () {
                var _this = $(this);
                var Element = _this.attr("MElement");
                var Id = _this.attr("MId");
                var Date = _this.attr("MDate");
                var Adres = _this.attr("MAdres");
                var Osmotr = _this.attr("MOsmotr");
                
                 
                $.post('@Url.Action("AddActiveDefect", "Osmotrs")', { Date: Date, AdresId: Adres, ElementId: Element, DefectId:Id }, function (data)
                {
                    window.location.replace("/Osmotrs/ViewActiveDefect?Date=" + Date + "&AdresId=" + AdresId + "&ElementId=" + ElementId+"&OsmotrId="+Osmotr);//редирект


                });

                });
</script>




}
