@model GKHNNC.Models.ActiveElement

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutNULL.cshtml";
}
@{string style = "";}


@if (ViewBag.AW == true)
{
    <table class="table-bordered table-striped" style="width:100%">

        <tr>
            <td colspan="6">
                @{
                    string works = "Добавить необходимые работы"; string workscol = "btn btn-secondary";
                    // works = "Добавить необходимые работы"; workscol = "btn btn-secondary";
                }
                <button class="@workscol btn-block" onclick="OpenModal(@Model.ElementId)">@works</button>
            </td>
        </tr>

    </table>
}
@{string Stealth = "display: none;width:100%";
    if (Model.ActiveOsmotrWorks != null && Model.ActiveOsmotrWorks.Count > 0)
    {
        Stealth = "width:100%";
    }
}
<table id="AO_@Model.ElementId" class="table-bordered table-striped" style="@Stealth">

    <tr class="AO_@Model.ElementId">
        <th style="text-align:center">
            Наименование работы
        </th>


        <th style="text-align:center" colspan="2">
            Количество
        </th>
        <th style="text-align:center">
            Измерение
        </th>
        <th style="text-align:center">
            Стоимость
        </th>
        <th style="text-align:center">
            Дата
        </th>
        <th style="text-align:center" colspan="2">

            Опции
        </th>
    </tr>

    @for (int i = 0; i < Model.ActiveOsmotrWorks.Count; i++)
    {
    <tr id="AO_@Model.ActiveOsmotrWorks[i].Id">
        <td style="text-align:center">
            @Model.ActiveOsmotrWorks[i].OsmotrWork.Name
        </td>


        <td style="text-align:center" colspan="2">
            @Model.ActiveOsmotrWorks[i].Number
        </td>
        <td style="text-align:center">
            @Model.ActiveOsmotrWorks[i].OsmotrWork.Izmerenie.Name
        </td>
        <td style="text-align:center">
            @Model.ActiveOsmotrWorks[i].TotalCost
        </td>
        <td style="text-align:center">
           


            @try
            {
                if (Model.ActiveOsmotrWorks[i].DateZaplanirovana > new DateTime(1, 1, 1))
                {
                @Model.ActiveOsmotrWorks[i].DateZaplanirovana.Value.ToString("dd.MM.yyyy")
                }
                else
                {
                 <p>Не запланирована</p>
                }
            }
            catch
            {
                <p>Не запланирована</p>
                    }
        </td>
        <td style="text-align:center" colspan="2">

            <button type="button" id="RemoveWork" ADId="@Model.ActiveOsmotrWorks[i].Id" onclick="RemoveWork('@Model.ActiveOsmotrWorks[i].Id')" class="btn btn-outline-danger rem">Удалить работу</button>
        </td>
    </tr>



    }
</table>
@if (Model.Est == false)
{
    string TableName = "T" + Model.ElementId;
    style = "style=display:none";
    <table style="width:100%" id="@TableName" class="table-bordered table-striped">
        <tr width="100%" style="background-color:lightgray">
            <td width="80%" style="text-align:center">
                <h4> @Model.Element.Name (отсутствует)</h4>
            </td>
            <td width="20%" style="text-align:center">
                <button type="button" id="ReturnElement" class="btn btn-outline-success go" style="text-align:center" MOsmotr="@Model.OsmotrId" MElement="@Model.ElementId" MId="@Model.Id">Вернуть элемент</button>

            </td>

        </tr>

    </table>
}

<table @style id="@Model.ElementId" name="@Model.Element.Name" class="table-bordered table-striped">
    @{string Part2 = Model.Id.ToString() + Model.OsmotrId.ToString();
        string Part = Model.ElementId.ToString();
        string PhotoElement1 = "PhotoElement1" + Part;
        string PhotoElement2 = "PhotoElement2" + Part;
        string SostoyanieElement = "SostoyanieElement" + Part;
        string DivSost = "DivSost" + Part;
        string PED1 = "PED1" + Part;
        string PED2 = "PED2" + Part;
        string Material = "Mat" + Part;
        string Kolvo = "Kolvo" + Part;
        string EdIzm = "EdIzm" + Part;
        string PE1 = Model.Photo1;
        string TR1 = "TR1" + Part;
        string TR2 = "TR2" + Part;
        string TR3 = "TR3" + Part;
        string TR4 = "TR4" + Part;
        string TR5 = "TR5" + Part;
        string TR6 = "TR6" + Part;
        if (PE1 == null || PE1.Equals(""))
        {
            PE1 = "/Content/Images/NoDownload.png";
        }
        else
        {
            if (File.Exists(Server.MapPath("~/Files/" + Model.OsmotrId.ToString() + "/" + Model.Photo1)) == false)
            { PE1 = "/Content/Images/NoDownload.png"; }
            else
            {

                PE1 = "/Files/" + Model.OsmotrId.ToString() + "/" + Model.Photo1;
            }

        }
        string PE2 = Model.Photo2;
        if (PE2 == null || PE2.Equals(""))
        {
            PE2 = "/Content/Images/NoDownload.png";
        }
        else
        {
            if (File.Exists(Server.MapPath("~/Files/" + Model.OsmotrId.ToString() + "/" + Model.Photo2)) == false)
            { PE2 = "/Content/Images/NoDownload.png"; }
            else
            {

                PE2 = "/Files/" + Model.OsmotrId.ToString() + "/" + Model.Photo2;
            }

        }



        string Sostoyanie = "Sostoyanie" + Model.Id;
        string Opisanie = "Opisanie" + Model.Id;

        string DefectId = "Defect" + Model.Id;
        string styleOn = "";
        string styleOff = "";

        string bcolor1 = "lightgray";
        string bcolor2 = "lightgray";
        string title1 = "Фото свежее";
        string title2 = "Фото свежее";
        if (Model.Photo1 != null&&Model.IsOld1&& Model.Photo1!="null.jpg"&& Model.Photo1 != "null.jpg") { bcolor1 = "#ffd800"; title1 = "Фото взято из предыдущего осмотра!"; }
        if (Model.Photo2 != null&&Model.IsOld2 && Model.Photo2 != "null.jpg" && Model.Photo2 != "null.jpg") { bcolor2 = "#ffd800"; title2 = "Фото взято из предыдущего осмотра!"; }

    }


    @if (Model.Photo1 == null && Model.Photo2 == null)
    {
     


        <tr id="@TR1" style="background-color:lightgray @styleOn">
            <th colspan="1" rowspan="3" style="text-align:center">

                <h4> @Model.Element.Name</h4>
            </th>
            <td width="100px"  style="background-color:@bcolor1" title="@title1">

                <input type="file" name="Photo" onchange="InputChange(this)" id="@PhotoElement1" class="form-control-file" />

            </td>
            <td width="100px" style="background-color:@bcolor2" title="@title2">

                <input type="file" name="Photo" onchange="InputChange(this)" id="@PhotoElement2" class="form-control-file" />

            </td>
            <th width="10%" style="text-align:center">
                Состояние Элемента:
            </th>

            <td width="250px" align="center">
                <center>
                    <div class="ratingElement" id="@DivSost">
                        <input id="@SostoyanieElement" type="number" name="val" value="5" />
                        <input type="hidden" name="vote-id" value="@SostoyanieElement" />
                    </div>
                </center>
            </td>

            <td rowspan="3" style="text-align:center" width="200px">
                <button type="button" id="SaveElement" MId="@Model.Id" MElement="@Model.ElementId" MOsmotr="@Model.OsmotrId" class="btn btn-success go" style="text-align:center">
                    Сохранить элемент
                </button>
                <button style="margin:5px" type="button" id="DeleteElement" MId="@Model.Id" MElement="@Model.ElementId" MOsmotr="@Model.OsmotrId" class="btn btn-outline-danger go" style="text-align:center">
                    Удалить элемент
                </button>
            </td>

        </tr>
        <tr id="@TR2" style="background-color:lightgray; text-align:center;align-content:center @styleOn">

            <td width="200px" colspan="2">
                Материал
            </td>
            <td width="10%">
                Единицы измерения
            </td>
            <td width="250px">
                Количество
            </td>
        </tr>
        <tr id="@TR3" style="background-color:lightgray @styleOn">

            <td width="200px" colspan="2" style="text-align:center">
                @Html.DropDownList(Material, new SelectList(ViewBag.Materials, "Value", "Text", ViewBag.M), htmlAttributes: new { @class = "form-control", width = "196" })

            </td>
            <td style="text-align:center" width="10%">
                @Html.DropDownList(EdIzm, new SelectList(ViewBag.Izmerenies, "Value", "Text", ViewBag.EI), htmlAttributes: new { @class = "form-control", width = "196" })


            </td>
            <td style="text-align:center" width="250px">
                <input id="@Kolvo" value="@Model.Kolichestvo" type="number" class="form-control" />

            </td>
        </tr>


    }
    else
    {



        <tr id="@TR4" style="background-color:lightgray @styleOff">
            <th colspan="1" rowspan="3" style="text-align:center">

                <h4> @Model.Element.Name</h4>
            </th>

            <td width="100px" style="background-color:@bcolor1" title="@title1">
                <a data-fancybox="gallery" id="@PED1" href="@PE1">
                    <img src="@PE1" id="@PhotoElement1" to="@PE1" class="img-responsive" height="32" width="32" onerror="this.style.display = 'none'">
                </a>
            </td>
            <td width="100px" style="background-color:@bcolor2" title="@title2">
                <a data-fancybox="gallery" id="@PED2" href="@PE2">
                    <img src="@PE2" id="@PhotoElement2" to="@PE2" class="img-responsive" height="32" width="32" onerror="this.style.display = 'none'">
                </a>
            </td>
            <th style="text-align:center">
                Состояние Элемента:
            </th>

            <td align="center">
                <center>
                    <div class="rating" align="center" id="@DivSost">
                        <input id="@SostoyanieElement" type="hidden" name="val" value="@Model.Sostoyanie" />
                    </div>
                </center>
            </td>

            <td rowspan="3" style="text-align:center" width="200px">
                <button type="button" id="EditElement" MId="@Model.Id" MElement="@Model.ElementId" MOsmotr="@Model.OsmotrId" class="btn btn-outline-success go" style="text-align:center">
                    Изменить элемент
                </button>

                <button style="margin:5px" type="button" id="DeleteElement" MId="@Model.Id" MElement="@Model.ElementId" MOsmotr="@Model.OsmotrId" class="btn btn-outline-danger go" style="text-align:center">
                    Удалить элемент
                </button>
            </td>








        </tr>
        <tr id="@TR5" style="background-color:lightgray; text-align:center; align-content:center @styleOff">

            <td width="200px" colspan="2">
                Материал
            </td>
            <td width="10%">
                Единицы измерения
            </td>
            <td width="250px">
                Количество
            </td>
        </tr>
        <tr id="@TR6" style="background-color:lightgray @styleOff">

            <td width="200px" colspan="2" style="text-align:center">
                @Html.DropDownList(Material, new SelectList(ViewBag.Materials, "Value", "Text", ViewBag.M), htmlAttributes: new { @class = "form-control", width = "196", disabled = "disabled" })

            </td>
            <td style="text-align:center" width="10%">
                @Html.DropDownList(EdIzm, new SelectList(ViewBag.Izmerenies, "Value", "Text", ViewBag.EI), htmlAttributes: new { @class = "form-control", width = "196", disabled = "disabled" })


            </td>
            <td style="text-align:center" width="250px">
                <input id="@Kolvo" value="@Model.Kolichestvo" type="number" disabled="disabled" readonly="readonly" class="form-control" />

            </td>
        </tr>

    }

    <tr style="background-color:#ffd800">
        <td colspan="6" height="3px"></td>
    </tr>
    <tr class="B_@Model.ElementId">
        @{string defects = "Нажмите, чтобы добавить дефекты"; string defcol = "btn btn-warning";
            if (Model.ActiveDefects.Count > 0) { defects = "Показать дефекты"; defcol = "btn btn-success"; }
        }

        <td colspan="6">
            <button class="@defcol btn-block" onclick="DefectsOn('@Model.ElementId')">@defects</button>

        </td>

    </tr>
    <tr class="@Model.ElementId" style="display:none">
        <td width="30%" style="text-align:center">
            Дефект
        </td>



        <td width="100px" style="text-align:center">
            Фото1
        </td>
        <td width="100px" style="text-align:center">
            Фото2
        </td>
        <td width="10%" style="text-align:center">
            Степень повреждения
        </td>
        <td width="250px" style="text-align:center">
            Описание дефекта
        </td>

        <td width="20%" style="text-align:center">Опции</td>

    </tr>

    @{
        string Def = "D" + Part;
        string Op = "O" + Part;
        string Sost = "S" + Part;
        string Num = "N" + Part;
        string P1 = "P1" + Part;
        string P2 = "P2" + Part;
        string D1 = "D1" + Part;
        string D2 = "D2" + Part;
    }
    <tr class="@Model.ElementId" style="display:none">
        <td width="30%" style="text-align:center">
            @Html.DropDownList(Def, new SelectList(Model.Defects, "id", "def"), htmlAttributes: new { @class = "form-control" })
        </td>



        <td width="100px" style="text-align:center">

            <input type="file" name="Photo" onchange="InputChange(this)" id="@P1" class="form-control-file" />


        </td>
        <td width="100px" style="text-align:center">
            <input type="file" name="Photo" onchange="InputChange(this)" id="@P2" class="form-control-file" />

        </td>
        <td width="10%" style="text-align:center">
            <div class="ratingElementRed">
                <input id="@Sost" type="hidden" name="val" value="0" />
                <input type="hidden" name="vote-id" value="@Sost" />
            </div>
        </td>
        <td width="250px" style="text-align:center">
            <input id="@Op" placeholder="Введите описание дефекта" class="form-control" style="width:230px" />

        </td>

        <td width="20%" style="text-align:center">
            <button type="button" id="AddDefect" MId="@Model.Id" MDate="@Model.Date" MAdres="@Model.AdresId" MElement="@Model.ElementId" MOsmotr="@Model.OsmotrId" class="btn btn-success go">
                Добавить дефект
            </button>


        </td>
    </tr>

    @for (int i = 0; i < Model.ActiveDefects.Count; i++)
    {
      

        string Ph1 = Model.ActiveDefects[i].Photo1;
        if (Ph1 == null || Ph1.Equals(""))
        {
            Ph1 = "/Content/Images/NoDownload.png";
        }
        else
        {
            if (File.Exists(Server.MapPath("~/Files/" + Model.OsmotrId.ToString() + "/" + Model.ActiveDefects[i].Photo1)) == false)
            { Ph1 = "/Content/Images/NoDownload.png"; }
            else
            {

                Ph1 = "/Files/" + Model.OsmotrId.ToString() + "/" + Model.ActiveDefects[i].Photo1;
            }

        }
        string Ph2 = Model.ActiveDefects[i].Photo2;
        if (Ph2 == null || Ph2.Equals(""))
        { Ph2 = "/Content/Images/NoDownload.png"; }
        else
        {
            if (File.Exists(Server.MapPath("~/Files/" + Model.OsmotrId.ToString() + "/" + Model.ActiveDefects[i].Photo2)) == false)
            { Ph2 = "/Content/Images/NoDownload.png"; }
            else
            {
                Ph2 = "/Files/" + Model.OsmotrId.ToString() + "/" + Model.ActiveDefects[i].Photo2;
            }

        }



        <tr id="@Model.ActiveDefects[i].Id" class="@Model.ElementId" style="display:none">
            <td style="text-align:center">
                @Model.ActiveDefects[i].Defect.Def
            </td>


            <td style="text-align:center" >
                <a data-fancybox="gallery" href="@Ph1">
                    <img src="@Ph1" id="Photo" to="@P2" class="img-responsive" height="32" width="32" onerror="this.style.display = 'none'">
                </a>
            </td>
            <td style="text-align:center">
                <a data-fancybox="gallery" href="@Ph2">
                    <img src="@Ph2" id="Photo" to="@P2" class="img-responsive" height="32" width="32" onerror="this.style.display = '/Content/Images/NoDownload.png'">
                </a>
            </td>
            <td style="text-align:center">
                <div class="ratingRed">
                    <input type="hidden" name="val" value="@Model.ActiveDefects[i].Sostoyanie" />

                </div>







            </td>
            <td style="text-align:center">
                <input onchange="RefreshTextDefect('@Model.ActiveDefects[i].Id',this.value)" value="@Model.ActiveDefects[i].Opisanie" class="form-control" style="width:230px" />

            </td>

            <td style="text-align:center">
                <button type="button" id="RemoveDefect" ADId="@Model.ActiveDefects[i].Id" class="btn btn-outline-danger rem">Удалить дефект</button>
            </td>
        </tr>


    }




</table>


<hr style="color:#28a745;border:none;background-color:#28a745;height:5px;margin:0px" />

@if (ViewBag.AW)
{
    <!-- Modal -->
    <div class="modal fade" id="Modal_@Model.ElementId" tabindex="-1" role="dialog" aria-labelledby="AddAvtoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content col-12">
                <div class="modal-header">
                    <h3 class="modal-title" id="AddAvtoModalLabel">Добавить необходимую работу</h3>

                </div>
                <div class="modal-body">
                    @{ string X = "OW" + Model.ElementId.ToString(); string Y = "N" + Model.ElementId.ToString(); string M = "M" + Model.ElementId.ToString(); string Z = "OSMOTR" + Model.ElementId.ToString(); }

                    <div class="col-6">
                        Осмотр#
                    </div>
                    <div class="col-6">
                        <input readonly id="@Z" value="@Model.OsmotrId" class="form-control" />
                    </div>
                    <div class="col-6">
                        Выберите работу
                    </div>
                    <div class="col-6">

                        @Html.DropDownList(X, new SelectList(Model.OsmotrWorks, "value", "text"), new { @class = "form-control" })
                    </div>
                    <div class="col-6">
                        Количество
                    </div>
                    <div class="col-6">
                        @Html.Editor(Y, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-6">
                        Плановая дата выполнения
                    </div>
                 <!--   @Html.DropDownList(M, new SelectList(ViewBag.Month), new { @class = "form-control" }) -->
                    <div>
                        <input type="date" id="@M" name="Date" style="border:3px solid #000000;font-size:20px;font-weight:bold" placeholder="Выберите дату" class="form-control" autocomplete="off"  />

                    </div>


                    <div class="col-6" style="margin:10px">
                        <button id="AddWorkSubmit" onclick="AddWork(@Model.ElementId)" class="btn btn-success btn-block">Сохранить</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
}




