@model GKHNNC.Models.Usluga

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout0.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Usluga</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Periodichnost.PeriodichnostName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Periodichnost.PeriodichnostName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Poryadok)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Poryadok)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
