@model GKHNNC.Models.WorkSoderganie

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout0.cshtml";
}

<h2>Details</h2>

<div>
    <h4>WorkSoderganie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Izmerenie.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Izmerenie.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tip.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tip.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Norma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Norma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Obiem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Obiem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opisanie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opisanie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Val)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Val)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
