@model IEnumerable<GKHNNC.Models.WorkSoderganie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout0.cshtml";
}

<h2>Главная</h2>

<p>
    @Html.ActionLink("Создать", "Create", null, new {@class = "btn btn-success btn-block"})
</p>
<table id="T" class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Izmerenie.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tip.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Norma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Obiem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opisanie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Val)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Periodichnost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remont)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostMterials)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostWrok)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProcGood)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProcBad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Izmerenie.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tip.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Norma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Obiem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opisanie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Val)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Periodichnost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remont)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostMterials)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostWrok)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProcGood)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProcBad)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
<p><a href="/Home/Index" class="btn btn-success btn-block">В главное меню &raquo;</a> </p>
