@model IEnumerable<GKHNNC.Models.ASControl>

@{
    ViewBag.Title = "AvtoWarnings";
    Layout = "~/Views/Shared/_Layout0.cshtml";
}

<h2>Автомобили с проблемами связи</h2>
<h3>@ViewBag.Date.Day - @ViewBag.Date.Month - @ViewBag.Date.Year</h3>



<div class="container">
    @if (Model.Count() == 0)
    {<h3>На текущий момент выездов нет.</h3>
        <p>  </p>

    }
    else
    {
        <table id="T" class="table table-bordered table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Avto)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.KMAS)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DUT)
                </th>

                <th>
                    Километраж (водитель)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Primech)
                </th>
                <th>
                    Наблюдений
                </th>
                <th>
                    Потеря связи
                </th>
                
            </tr>
            @{ int counter = 0;}
            @foreach (var item in Model)
            {
                if (counter < ViewBag.Counter)
                {
                    string cl = ""; string check = ""; string btn = "btn btn-success"; bool go = false;
                    //если больше 3 наблюдений а данные все еще нулевые то помечаем машину как потеря связи
                    if (item.Avto.Glonass == true && item.DUT == 0 && item.KMAS == 0 && ViewBag.Nabludenii[counter] >= 2 && ViewBag.Nabludenii[counter] < 4) { cl = "bg-warning"; btn = "btn btn-warning"; go = true; }
                    if (item.Avto.Glonass == true && item.DUT == 0 && item.KMAS == 0 && ViewBag.Nabludenii[counter] >= 4) { cl = "bg-danger"; check = "checked"; btn = "btn btn-danger"; go = true; }
                    if (go == true)
                    {

                    <tr id="@counter" value="@item.Id">
                        <td class=@cl>
                            @Html.DisplayFor(modelItem => item.Avto.Number)
                        </td>
                        <td class=@cl>
                            @Html.DisplayFor(modelItem => item.KMAS)
                        </td>
                        <td class=@cl>
                            @Html.DisplayFor(modelItem => item.DUT)
                        </td>

                        <td class=@cl>
                            <input id="KM_@item.Id" value="@item.KM" class="form-control">
                            <small id="AdressHelp" class="form-text text-muted">Число в формате 7.32</small>
                        </td>
                        <td class=@cl>

                            <input id="Primech_@item.Id" value="@item.Primech" class="form-control">
                        </td>
                        <td class=@cl>

                            @ViewBag.Nabludenii[counter]
                        </td>
                        <td class=@cl>

                            @if (item.Avto.Glonass == false)
                            {<p>Датчик не установлен!</p> }
                            else
                            { <input type="checkbox" class="form-control" @check>}
                        </td>
                    </tr>
                    }
                }
                else
                {
                    if (counter == ViewBag.Counter)
                    {


                        <tr>
                            <td colspan="8" style="text-align:center"><h3>Проблемы в предыдущие дни этого месяца</h3></td>
                        </tr>
                    }

                    string cl = ""; string check = ""; string btn = "btn btn-success"; bool go = false;
                    //если больше 3 наблюдений а данные все еще нулевые то помечаем машину как потеря связи
                    if (item.Avto.Glonass == true && item.DUT == 0 && item.KMAS == 0 ) { cl = "bg-warning"; btn = "btn btn-warning"; go = true; }
                    if (item.Avto.Glonass == true && item.DUT == 0 && item.KMAS == 0 ) { cl = "bg-danger"; check = "checked"; btn = "btn btn-danger";go = true; }
                    if (go == true)
                    {
                    <tr id="@counter" value="@item.Id">
                        <td class=@cl>
                            @Html.DisplayFor(modelItem => item.Avto.Number)
                        </td>
                        <td class=@cl>
                            @Html.DisplayFor(modelItem => item.KMAS)
                        </td>
                        <td class=@cl>
                            @Html.DisplayFor(modelItem => item.DUT)
                        </td>

                        <td class=@cl>
                            <input id="KM_@item.Id" value="@item.KM" class="form-control">
                            <small id="AdressHelp" class="form-text text-muted">Число в формате 7.32</small>
                        </td>
                        <td class=@cl>

                            <input id="Primech_@item.Id" value="@item.Primech" class="form-control">
                        </td>
                        <td class=@cl>
                            От @item.Date.Day-@item.Date.Month
                        </td>
                        <td class=@cl>

                            @if (item.Avto.Glonass == false)
                            {<p>Датчик не установлен!</p> }
                            else
                            { <input type="checkbox" class="form-control" @check>}
                        </td>

                    </tr>
                    }
                }
                counter++;
            }

        </table>
    }
</div>
<p><a href="/ASControls/Index" class="btn btn-success btn-block">К управлению выездами &raquo;</a> </p>
<p><a href="/Home/Index" class="btn btn-success btn-block">В главное меню &raquo;</a> </p>

@section Scripts {
    @Scripts.Render("~/scripts/jquery-ui-1.12.1.min.js")
    @Scripts.Render("~/scripts/jquery-3.3.1.js")
    @Scripts.Render("~/Scripts/chosen.jquery.min.js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/scripts/validate.js")
    @Scripts.Render("~/scripts/jquery-ui-1.12.1.min.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive.min.js")





    <script>
        //скрипт отправки данных в БД
        $("#ADD").click(function () {
            var S = $("#ADD");
            var Avto = $("#AvtoLB").val();
            var Primech = $("#Primech").val();


            console.log("Добавляем " + Avto);
            var ss = Avto + ";" + Primech + ";";
                 $.post('@Url.Action("AddAvto", "ASControls")', { selection: ss }, function (data)
            {
                     window.location.replace("/ASControls/AvtoWarnings");//редирект


            });




        });

    </script>
    <script>
        //скрипт отправки данных в БД
        $("#CLOSE").click(function () {
            var S = $("#CLOSE").attr("tag");
            var KM = $("#KM").val();
            var Primech = $("#Primech2").val();


            console.log("Завершаем " + S);
            var ss = S + ";" + KM + ";" + Primech;
                 $.post('@Url.Action("CloseAvto", "ASControls")', { selection: ss }, function (data)
            {
                     window.location.replace("/ASControls/AvtoWarnings");//редирект


            });




        });

    </script>
    <script>
        //скрипт отправки данных в БД
         $("button").click(function () {
             var Id = $("#T tr[id^=" + this.id + "]").attr("value");
             var KM = $("#KM_"+Id).val();
             var Primech = $("#Primech_"+Id).val();
              console.log("Завершаем " + Id);
            var ss = Id + ";" + KM + ";" + Primech;
                 $.post('@Url.Action("CloseAvto", "ASControls")', { selection: ss }, function (data)
            {
                     window.location.replace("/ASControls/AvtoWarnings");//редирект


            });









        });

    </script>
    <script>
        var time = new Date().getTime();
        $(document.body).bind("mousemove keypress", function (e) {
            time = new Date().getTime();
        });

        function refresh() {
            console.log("Обновляем страницу");
            if (new Date().getTime() - time >= 60000)
                window.location.replace("/ASControls/Index");
            else
                setTimeout(refresh, 10000);
        }

        setTimeout(refresh, 10000);
    </script>




}